.nav-container {
  width: 100%;
  padding: 100px;
  height: 70px;
  background-color: var(--Grey100);
  padding: 10px 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Source Sans Pro';
}

.navbar .logo .logo-cap {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: var(--black);
}

.navbar .logo .logo-sm {
  font-size: 14px;
  line-height: 17.5px;
  font-weight: 400;
  color: var(--black);
  font-family: 'Source Sans Pro', sans-serif;
}

.nav-inner-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link-item {
  margin-right: 24px;
}

.nav-link-item:last-child {
  margin-right: 0px;
}

.nav-dw-btn {
  position: relative;
}

.nav-dw-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-dropdown-links {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  position: absolute;
  text-align: center;
  list-style: none;
}

.nav-dropdown-links {
  width: 100%;
  display: none;
}

#nav-dropdown .dropdown-item {
  background-color: var(--NeroWhite);
}

#nav-dropdown .dropdown-item:hover {
  background-color: #CECECE;
}

.nav-dw-btn:hover .nav-dropdown-links {
  display: block;
}

.nav-link-item a {
  font-size: var(--Large-400-fs);
  font-weight: var(--regular);
  text-decoration: none;
  color: black;
  padding: 12px 14px;
  white-space: nowrap;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  transition: all .3s linear;
}

.nav-link-item:hover a {
  background-color: #CECECE;
}

.nav-login-btn .nav-login-anch {
  font-size: var(--Medium-400-fs);
  font-weight: var(--regular);
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: var(--NeroWhite);
  padding: 13px 46px;
  background: linear-gradient(90deg, #5D3E31 0%, #704B3B 24%, #855946 50%, #7D5C4E 100%);
  border-radius: 5px;
}

.nav-login-btn .nav-login-anch:hover {
  background: var(--Dark_brown);
}


@media (max-width: 1300px) {
  .nav-container {
    padding: 10px 20px;
  }

  .nav-link-item {
    margin-right: 0px;
  }

  .nav-link-item a {
    padding: 12px 14px;
  }
}


@media(max-width:948px) {
  .nav-link-item a {
    font-size: var(--lg-icon-text-fs);
    line-height: var(--lg-icon-text-lh);
    letter-spacing: var(--lg-icon-text-ls);
    padding: 12px 12px;
  } 
  .navbar .logo {
    width: 140px;
  }
  .navbar .logo .logo-cap {
    font-size: 14px;
    line-height: 25px;
    font-weight: 700;
    color: var(--black);
    white-space: nowrap;
  }
  
  .navbar .logo .logo-sm {
    font-size: 12px;
    line-height: 17.5px;
    font-weight: 400;
    color: var(--black);
    font-family: 'Source Sans Pro', sans-serif;
  }
}

/* mobile navbar css start */

.mobile-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Grey100);
}

.mobile-nav-container {
  width: 100%;
  display: none;
}

.mobile-nav-inner-sec {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
}

.mobile-humburger {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mob-nav-cart-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-nav-logo {
  text-align: center;
}

.mobile-nav-logo .mob-nav-logo-big-size {
  color: var(--black);
  padding-bottom: 2px;
}

.mobile-nav-logo .mob-nav-logo-small-size {
  font-size: 12px;
  font-weight: var(--regular);
  color: var(--black);
}

/* mobile popup */

.mobile-sidebar {
  position: fixed;
  transition: left 0.3s ease-in-out;
  width: 310px;
  left: -310px;
  height: 90vh;
  background-color: var(--NeroWhite);
  /* display: none; */
  z-index: 99;
  padding: 20px 24px 46px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.menu-close-icon {
  display: flex;
  justify-content: flex-end;
}

.slider-links-inner-sec {
  list-style: none;
}

.slider-links-inner-sec .sidebar-link {
  width: 100%;
  font-size: 26px;
  line-height: 30px;
  font-family: 'Source Serif Pro';
  font-weight: var(--bold);
  color: var(--Sec_brown);
  text-decoration: none;
  padding: 16px 12px;
  display: inline-block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.19);
}

.sidebar-login-btn {
  width: 133px;
  padding-top: 26px;
}

.sidebar-login-btn .s-log-btn {
  padding: 13px 0;

}

/* close and open icon */


@media(max-width:788px) {
  .nav-container {
    display: none;
  }

  .mobile-nav-container {
    display: block;
  }
}