/* header section */
@media(max-width: 1300px) {
  .home-header-sec-material {
    width: 55%;
  }

  .home-header-image {
    width: 40%;
  }

  .home-header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media (max-width:576px) {
  .home-h-inner-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
  }

  .h-h-para-head {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .h-h-para-head .header-heading {
    width: 70%;
  }

  .home-header-melborn {
    display: inline;
  }

  .h-h-para-head .home-header-sec {
    font-size: var(--Medium-400-fs);
    font-weight: var(--regular);
    line-height: var(--Medium-400-lh);
    letter-spacing: var(--Medium-400-ls);
  }

  .home-header-sec-material {
    width: 100%;
  }

  .home-header-image {
    width: 100%;
  }

  .h-header-icon-text .h-icon-t {
    font-size: var(--xlarge-reg-fs);
    line-height: var(--xlarge-reg-lh);
  }

  .header-icon-text-button {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .h-header-icon-text {
    width: 100px;
    white-space: wrap;
    margin: 24px 0;
  }

  .h-header-icon-text img {
    width: 24px;
    height: 24px;
  }

  .ho-h-try-o-s-btn {
    padding: 16px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* header-dog image */
  .home-header-image {
    display: none;
  }

  /* mobile view image */
  .home-header-mobile-image {
    display: block;
  }
}

@media (max-width: 420px) {
  .h-h-para-head .header-heading {
    width: 90%;
  }
}


/* button 432px */
@media(max-width: 1300px) {
  .xl-button a {
    padding: 18px 0;
    width: 300px;
  }
}

/* Our Bowl Plans section */
@media(max-width:576px) {
  .big-title-font {
    font-size: 26px;
    line-height: 30px;
    color: var(--TobaccoBrown);
    font-family: 'Source Serif Pro', serif;
    font-weight: var(--bold);
  }

  .our-bowl-val-text-cnt {
    width: 312px;
  }

  .our-bowl-txt-inner-cnt .o-b-sm-t {
    font-size: 12px;
    line-height: 18px;
  }
}

/* testimonial code */
@media (max-width:1440px) {
  .testimonial-sec {
    padding: 80px 0px 40px 0px;
  }

  .testimonial-slides-sec {
    padding-left: 80px;
  }
}

@media (max-width:1250px) {
  .testimonial-det-inner-sec {
    height: 470px;
    background-color: var(--NeroWhite);
    padding: 30px;
  }
}

@media (max-width: 576px) {
  .testimonial-heading {
    margin-bottom: 24px;
  }

  .testimonial-sec .testimonial-inner-sec {
    width: 100%;
    overflow: hidden;
  }

  .testimonial-slide-inner-sec {
    padding-bottom: 60px;
    width: 100%;
  }

  .testimonial-sec {
    padding: 32px 0px 40px 0px;
  }

  .testimonial-det-inner-sec {
    height: 365px;
    background-color: var(--NeroWhite);
    padding: 21px 16px;
  }

  /* .testimonial-slides-sec {
    padding-left: 80px;
  } */

  .te-car-para p {
    font-size: var(--xlarge-reg-fs);
    line-height: var(--xlarge-reg-lh);
  }

  .te-author-name-time .te-author-name {
    font-size: var(--Large-400-fs);
    line-height: var(--Large-400-lh);
    letter-spacing: var(--Large-400-ls);
  }

  .te-author-name-time .testimonia-time-val {
    font-size: var(--xlarge-reg-fs);
    line-height: var(--xlarge-reg-lh);
  }

  .testimonia-pagination {
    position: absolute;
    bottom: -40px;
  }

}

@media(max-width:450px) {
  .testimonial-slide-inner-sec {
    padding-bottom: 60px;
    width: 100%;
  }

  .te-car-para p {
    font-size: var(--xlarge-reg-fs);
    line-height: var(--xlarge-reg-lh);
  }

  .testimonial-slides-sec {
    padding-left: 0px;
    padding: 0px 24px;
  }
}

/* How it works ? section */
@media (max-width: 1300px) {
  .how-it-works-simple-card-sec {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media (max-width: 1025px) {
  .how-it-works-simple-card-sec {
    grid-template-columns: repeat(2, 1fr);
  }

}

/* Our Bowl Plans section */
@media (max-width: 1300px) {
  .our-bowl-product-card-cont {
    column-gap: 20px;
    /* flex-wrap: wrap; */
  }

  .our-bowl-prd {
    width: 100%;
    height: 367px;
  }

  .our-bo-pr-img {
    width: 150px;
    height: 150px;
  }

  .our-bo-pr-img img {
    width: 100%;
    height: 100%;
  }
}

@media(max-width:1100px) {
  .our-p-title p {
    font-size: var(--Large-400-fs);
    line-height: var(--Large-400-lh);
    letter-spacing: var(--Large-400-ls);
    font-weight: var(--bold);
  }
}

@media(max-width: 576px) {
  .our-b-plan-inner-sec {
    row-gap: 24px;
  }

  .our-bowl-product-card-cont {
    column-gap: 20px;
    row-gap: 24px;
    flex-wrap: wrap;
    width: 312px;
  }

  .our-bowl-prd {
    width: 146px;

    height: auto;
  }

  .our-bo-pr-img {
    width: 100px;
    height: 100px;
  }

  .our-p-title p {
    font-size: var(--xlarge-reg-fs);
    line-height: var(--xlarge-reg-lh);
    font-weight: var(--bold);
  }

  .gradient-text {
    font-size: var(--xlarge-reg-fs);
    line-height: var(--xlarge-reg-lh);
    font-weight: var(--bold);
  }

  .our-bo-pr-det {
    width: 100%;
    padding: 33px 8px 16px;
    background-color: var(--cont-bg-sec-color);
    margin-top: -20px;
    z-index: -1;
    border-radius: 8px;
  }

  .our-bo-pr-title-star {
    margin-bottom: 4px;
  }
}

/* How it works cards */
@media(max-width:576px) {

  /* how it works cards slider start */
  .how-it-works-simple-card-sec {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 312px;
    width: 100%;
    padding-bottom: 35px;

  }

  .arrows {
    display: block;
    width: auto;
    height: auto;
  }

  .dots {
    display: flex;
    width: 104px;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .h-it-w-card {
    display: none;
  }

  /* how it works cards slider end */

  .how-it-works-cards-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .h-it-w-card-details {
    height: 257px;
  }

  .how-it-works-inner-sec {
    row-gap: 24px;
  }

  /* how it works cars images */
  .h-w-c-img {
    width: 100%;
  }

  .h-w-c-img img {
    width: 100%;
    height: 100%;
  }

}

/* Our Customers love us ! */
@media(max-width: 576px) {
  .our-customer-love-inner-sec {
    row-gap: 24px;
  }

  .our-cus-love-p {
    width: 90%;
    text-align: center;
  }

  .google-star-image-box {
    width: 312px;
    height: 86px;
  }

  .google-star-image-box .image {
    width: 100%;
    height: 100%;
  }

  .our-cus-icon-text {
    width: 85px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .our-cus-icon-text .our-c-icon-short-desc {
    font-size: 12px;
    line-height: 18px;
  }

  .our-customer-loves-use-icon {
    width: 24px;
    height: 24px;
  }

  .our-customer-loves-use-icon img {
    width: 100%;
    height: 100%;
  }
}

@media(max-width:1100px) {
  .starter-pack-product-chart-sec {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media(max-width: 576px) {
  .starter-pack-inner-sec {
    row-gap: 24px;
  }

  .starter-pack-product {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
  }

  .starter-pack-product-chart-sec {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .starter-pack-img {
    width: 100%;
    height: 100%;
  }

  .starter-pack-img img {
    width: 100%;
    height: 100%;
  }

  .starter-pack-chart {
    display: none;
  }

  .starter-pack-p-title p {
    font-size: var(--Large-400-fs);
    font-weight: var(--semi-bold);
    letter-spacing: var(--Large-400-ls);
    line-height: var(--Large-400-lh);
  }

  .starter-pack-p-sm-d p {
    font-size: var(--XSmall-400-fs);
    line-height: var(--XSmall-400-lh);
    font-weight: var(--bold);
    color: var(--Sec_brown);
  }
}

@media(max-width:1300px) {
  .why-choose-icon-para {
    font-size: var(--Large-400-fs);
    line-height: var(--Large-400-lh);
    letter-spacing: var(--Large-400-ls);
    font-weight: var(--regular);
  }
}

/* Why Choose us ? section */
@media (max-width: 576px) {
  .w-choose-us-sec .w-ch-inner-sec {
    row-gap: 24px;
    text-align: center;
  }

  .wh-ch-four-icont-text {
    width: 247px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 26px;
  }

  .wh-ch-icont-text {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: unset;
    column-gap: 16px;
  }

  .wh-ch-icon-img {
    width: 24px;
    height: 24px;
  }

  .wh-ch-icon-img img {
    width: 100%;
    height: 100%;
  }

  .why-choose-icon-para {
    font-size: var(--XSmall-400-fs);
    line-height: var(--XSmall-400-lh);
    font-weight: var(--regular);
  }
}

/* Subscribe to our Email section */
@media(max-width:576px) {
  .subscribe-email-sec {
    padding: 0 24px;
    text-align: center;
  }

  .subs-email-inner-sec {
    row-gap: 24px;
    height: auto;
    padding-top: 32px;
    padding-bottom: 130px;
    background-size: contain;
    background-position: bottom;
  }

  .subs-email-inp .email-input {
    padding: 9px 10px;
    width: 220px;
  }

  .subs-email-btn .subscribe-button {
    padding: 13px 13px;
    margin-left: -4px;
  }

  .subs-email-btn .subscribe-button button {
    font-size: var(--lg-icon-text-fs);
  }
}


/* Tail-waggingly delicious: Our dog food recipe */
@media(max-width:1300px) {
  .tail-wagingly-card {
    width: 33.33%;
  }

  .tail-w-ca-img {
    width: 80%;
    height: 100%;
  }

  .tail-w-ca-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .tail-w-ca-title p {
    font-size: var(--XLarge-400-fs);
    font-weight: var(--bold);
    line-height: var(--XLarge-400-lh);
    letter-spacing: var(--XLarge-400-ls);
  }

}


/* Mobile screen
================= */

@media(max-width:576px) {
  .tail-wa-three-cards {
    position: relative;
    max-width: 312px;
    width: 100%;
  }

  .tail-waggingly-sec {
    text-align: center;
  }

  .tail-waggingly-inner-sec {
    row-gap: 24px;
  }

  .tail-wagingly-card {
    width: 100%;
    display: none;
  }

  .meal-card-inner-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: center;
  }

  .tail-w-ca-img {
    position: relative;
    width: 160px;
    height: 160px;
  }

  .tail-w-ca-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .tail-w-ca-title{
    margin-top: 30px;
  }

  /* arrows and pagination */
  .navigation {
    display: block;
  }

  .left-arrow {
    position: absolute;
    top: 55%;
    transform: translateY(-55%);
    left: 40px;
  }

  .right-arrow {
    position: absolute;
    top: 55%;
    transform: translateY(-55%);
    right: 40px;
  }

  .pagination-section {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
  }

  .pagination {
    width: 80px;
    display: flex;
    justify-content: space-between;
  }

  .circyle {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    border: 1px solid var(--Rose-Fog);
    display: inline-block;
  }

  .active,
  .dot:hover {
    background-color: var(--Rose-Fog);
    ;
  }

  /* accordion section start*/
  .pet-meal-faq-accordion {
    width: 100%;
  }

  .headin-op-cl-icon p {
    padding: 17px 48px 17px 17px;
  }

  /* accordion section end */
}