/* header section */
@media(max-width: 1300px) {
  .home-header-sec-material {
    width: 55%;
  }

  .home-header-image {
    width: 40%;
  }

  .home-header-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media (max-width:576px) {
  .home-h-inner-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
  }

  .h-h-para-head {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .h-h-para-head .header-heading{
    width: 70%;
  }

  .home-header-melborn{
    display: inline;
  }

  .h-h-para-head .home-header-sec {
    font-size: var(--Medium-400-fs);
    font-weight: var(--regular);
    line-height: var(--Medium-400-lh);
    letter-spacing: var(--Medium-400-ls);
  }

  .home-header-sec-material {
    width: 100%;
  }

  .home-header-image {
    width: 100%;
  }

  .h-header-icon-text .h-icon-t{
    font-size: var(--xlarge-reg-fs);
    line-height: var(--xlarge-reg-lh);
  }

  .header-icon-text-button {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .h-header-icon-text {
    width: 100px;
    white-space: wrap;
    margin: 24px 0;
  }

  .h-header-icon-text img {
    width: 24px;
    height: 24px;
  }

  .ho-h-try-o-s-btn {
    padding: 16px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* header-dog image */
  .home-header-image {
    display: none;
  }

  /* mobile view image */
  .home-header-mobile-image {
    display: block;
  }
}

@media (max-width: 420px){
  .h-h-para-head .header-heading{
    width: 90%;
  }
}


/* button 432px */
@media(max-width: 1300px) {
  .xl-button a {
    padding: 18px 0;
    width: 300px;
  }
}

/* Our Bowl Plans section */
@media(max-width:576px) {
  .big-title-font {
    font-size: 26px;
    line-height: 30px;
    color: var(--TobaccoBrown);
    font-family: 'Source Serif Pro', serif;
    font-weight: var(--bold);
  }

  .our-bowl-val-text-cnt {
    width: 312px;
  }

  .our-bowl-txt-inner-cnt .o-b-sm-t {
    font-size: 12px;
    line-height: 18px;
  }
}

/* testimonial code */
@media (max-width:1440px) {
  .testimonial-sec {
    padding: 80px 0px 40px 0px;
  }

  .testimonial-slides-sec {
    padding-left: 80px;
  }
}

@media (max-width:1250px) {
  .testimonial-det-inner-sec {
    height: 470px;
    background-color: var(--NeroWhite);
    padding: 30px;
  }
}

@media (max-width: 576px) {
  .testimonial-heading {
    margin-bottom: 24px;
  }

  .testimonial-sec .testimonial-inner-sec {
    width: 100%;
    overflow: hidden;
  }

  .testimonial-slide-inner-sec {
    padding-bottom: 60px;
    width: 100%;
  }

  .testimonial-sec {
    padding: 32px 0px 32px 0px;
  }

  .testimonial-det-inner-sec {
    height: 365px;
    background-color: var(--NeroWhite);
    padding: 21px 16px;
  }

  .testimonial-slides-sec {
    padding-left: 80px;
  }

  .te-car-para p {
    font-size: var(--xlarge-reg-fs);
    line-height: var(--xlarge-reg-lh);
  }

  .te-author-name-time .te-author-name {
    font-size: var(--Large-400-fs);
    line-height: var(--Large-400-lh);
    letter-spacing: var(--Large-400-ls);
  }

  .te-author-name-time .testimonia-time-val {
    font-size: var(--xlarge-reg-fs);
    line-height: var(--xlarge-reg-lh);
  }

  .testimonia-pagination {
    position: absolute;
    bottom: -40px;
  }

}

@media(max-width:450px) {
  .testimonial-slide-inner-sec {
    padding-bottom: 60px;
    width: 100%;
  }

  .te-car-para p {
    font-size: var(--xlarge-reg-fs);
    line-height: var(--xlarge-reg-lh);
  }

  .testimonial-slides-sec {
    padding-left: 0px;
    padding: 0px 24px;
  }
}

/* How it works ? section */
@media (max-width: 1300px) {
  .how-it-works-simple-card-sec {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media (max-width: 1025px) {
  .how-it-works-simple-card-sec {
    grid-template-columns: repeat(2, 1fr);
  }

}

/* Our Bowl Plans section */
@media (max-width: 1300px) {
  .our-bowl-product-card-cont {
    column-gap: 20px;
    /* flex-wrap: wrap; */
  }

  .our-bowl-prd {
    width: 100%;
    height: 367px;
  }

  .our-bo-pr-img {
    width: 150px;
    height: 150px;
  }

  .our-bo-pr-img img {
    width: 100%;
    height: 100%;
  }
}

@media(max-width: 576px) {
  .our-b-plan-inner-sec {
    row-gap: 24px;
  }

  .our-bowl-product-card-cont {
    column-gap: 20px;
    row-gap: 24px;
    flex-wrap: wrap;
    width: 312px;
  }

  .our-bowl-prd {
    width: 146px;

    height: auto;
  }

  .our-bo-pr-img {
    width: 100px;
    height: 100px;
  }

  .our-p-title p {
    font-size: var(--xlarge-reg-fs);
    line-height: var(--xlarge-reg-lh);
    font-weight: var(--bold);
  }

  .gradient-text {
    font-size: var(--xlarge-reg-fs);
    line-height: var(--xlarge-reg-lh);
    font-weight: var(--bold);
  }

  .our-bo-pr-det {
    width: 100%;
    padding: 33px 8px 16px;
    background-color: var(--cont-bg-sec-color);
    margin-top: -20px;
    z-index: -1;
    border-radius: 8px;
  }

  .our-bo-pr-title-star {
    margin-bottom: 4px;
  }
}

/* How it works cards */
@media(max-width:576px) {
  .how-it-works-simple-card-sec {
    display: none;
  }

  .how-it-works-card-slider {
    width: 340px;
    padding: 20px;
    display: block;
  }

  .how-it-works-cards-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .h-it-w-card-details {
    height: 257px;
  }

  .how-it-works-inner-sec {
    row-gap: 24px;
  }

  /* card section */
}

/* Our Customers love us ! */
@media(max-width: 576px) {
  .our-customer-love-inner-sec {
    row-gap: 24px;
  }

  .our-cus-love-p {
    width: 90%;
    text-align: center;
  }

  .google-star-image-box {
    width: 312px;
    height: 86px;
  }

  .google-star-image-box .image {
    width: 100%;
    height: 100%;
  }

  .our-cus-icon-text {
    width: 85px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .our-cus-icon-text .our-c-icon-short-desc {
    font-size: 12px;
    line-height: 18px;
  }

  .our-customer-loves-use-icon {
    width: 24px;
    height: 24px;
  }

  .our-customer-loves-use-icon img {
    width: 100%;
    height: 100%;
  }
}

/* Give our Starter Pack a go ! section */
@media(max-width: 576px) {
  .starter-pack-inner-sec {
    row-gap: 24px;
  }

  .starter-pack-product {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
  }

  .starter-pack-product-chart-sec {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .starter-pack-img {
    width: 100%;
    height: 100%;
  }

  .starter-pack-img img {
    width: 100%;
    height: 100%;
  }

  .starter-pack-chart {
    display: none;
  }

  .starter-pack-p-title p {
    font-size: var(--Large-400-fs);
    font-weight: var(--semi-bold);
    letter-spacing: var(--Large-400-ls);
    line-height: var(--Large-400-lh);
  }

  .starter-pack-p-sm-d p {
    font-size: var(--XSmall-400-fs);
    line-height: var(--XSmall-400-lh);
    font-weight: var(--bold);
    color: var(--Sec_brown);
  }
}

/* Why Choose us ? section */
@media (max-width: 576px) {
  .w-choose-us-sec .w-ch-inner-sec {
    row-gap: 24px;
    text-align: center;
  }

  .wh-ch-four-icont-text {
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 26px;
  }

  .wh-ch-icont-text {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: unset;
    column-gap: 16px;
  }

  .wh-ch-icon-img {
    width: 24px;
    height: 24px;
  }

  .wh-ch-icon-img img {
    width: 100%;
    height: 100%;
  }

  .why-choose-icon-para {
    font-size: var(--XSmall-400-fs);
    line-height: var(--XSmall-400-lh);
    font-weight: var(--regular);
  }
}

/* Subscribe to our Email section */
@media(max-width:576px) {
  .subscribe-email-sec {
    padding: 0 24px;
    text-align: center;
  }

  .subs-email-inner-sec {
    row-gap: 24px;
    height: auto;
    padding-top: 32px;
    padding-bottom: 130px;
    background-size: contain;
    background-position: bottom;
  }

  .subs-email-inp .email-input {
    padding: 9px 10px;
    width: 220px;
  }

  .subs-email-btn .subscribe-button {
    padding: 13px 13px;
    margin-left: -4px;
  }

  .subs-email-btn .subscribe-button button {
    font-size: var(--lg-icon-text-fs);
  }
}

/* Footer section */

@media (max-width: 576px) {
  .footer-inner-sec {
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 312px;
  }

  .footer-det-three-sec {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 0px 18px;
  }

  .f-logo-sm-lg .f-logo-lg {
    font-size: var(--lg-icon-text-fs);
    line-height: var(--lg-icon-text-lh);
    letter-spacing: var(--lg-icon-text-ls);
    font-weight: var(--bold);
  }

  .footer-useful-links-sec {
    padding-top: 0;
  }

  .footer-logo-det-sec {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0px;
  }

  .login-signup-mobile-link {
    display: none;
  }

  .mobile-newsletter-btn {
    display: block;
  }

  .f-logo-sm-lg .f-logo-sm {
    font-size: var(--xlarge-reg-fs);
    font-weight: var(--regular);
  }

  .footer-links-two-section {
    width: 263px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .f-main-link {
    margin-bottom: 14px;
  }

  .footer-copy-right-sec {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 24px 0 0;
  }

  .f-copy-right-text {
    order: 1;
    padding-top: 16px;
    padding-bottom: 4px;
  }

  .policy-etc-link {
    order: 1;
  }

  .f-logo-sm-lg {
    margin-bottom: 24px;
  }

  .f-main-link-item {
    padding-bottom: 4px;
    font-size: var(--xlarge-reg-fs);
    line-height: var(--xlarge-reg-lh);
  }

  .copy-right-txt {
    font-size: var(--xlarge-reg-fs);
    line-height: var(--xlarge-reg-lh);
  }

  .footer-links-top-h {
    font-size: var(--lg-icon-text-fs);
    letter-spacing: var(--lg-icon-text-ls);
    line-height: var(--lg-icon-text-lh);
  }

  .footer-icon-text-two-sec {
    margin-bottom: 24px;
    width: 286px;
  }

  .footer-mobile-text-para {
    font-size: var(--xlarge-reg-fs);
    line-height: var(--xlarge-reg-lh);
    display: block;
    padding: 24px 0 10px 0;
  }

  /* login and signup button */
  .loging-and-signup-button {
    display: block;
    height: 70px;
    /* padding: 21px 0 20px 0; */
  }

}

/* Tail-waggingly delicious: Our dog food recipe */
@media(max-width:1300px) {
  .tail-wagingly-card {
    width: 33.33%;
  }

  .tail-w-ca-img {
    width: 80%;
    height: 100%;
  }

  .tail-w-ca-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .tail-w-ca-title p {
    font-size: var(--XLarge-400-fs);
    font-weight: var(--bold);
    line-height: var(--XLarge-400-lh);
    letter-spacing: var(--XLarge-400-ls);
  }

}


/* Mobile screen
================= */

@media(max-width:576px) {
  .tail-waggingly-sec {
    text-align: center;
  }

  .tail-waggingly-inner-sec {
    row-gap: 24px;
  }

  /* accordion section start*/
  .pet-meal-faq-accordion {
    width: 100%;
  }

  .headin-op-cl-icon p {
    padding: 17px 17px 17px 17px;
  }

  /* accordion section end */

  .tail-wa-three-cards {
    display: none;
  }

  /* slider cards */
  .tail-wagingly-slider-section {
    display: block;
    width: 312px;
    padding: 0px;
  }

  .tail-wagingly-card {
    width: 100%; 
    height: 320px;
    display: flex;
    justify-content: space-between;
    position: relative; 
  }

  .tail-w-ca-img {
    position: relative;
    width: 160px;
    height: 200px;
  }

  .tail-w-ca-img img {
    width: 160px;
    height: 160px;
    object-fit: contain;
  }

  .tail-w-ca-title {
    position: absolute;
    top: 150px; 
  }

  .tail-w-ca-det{
    margin-top: -60px;
  } 


  /* Subscribe to our Email section 
  ==================================*/
}