* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Header section
================== */
.home-header-section {
  background-color: var(--NeroWhite);
}

.home-h-inner-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.h-h-para-head {
  width: 80%;
}

.home-header-melborn{
  display: block;
}

.h-h-para-head .header-heading {
  margin-bottom: 24px;
}

.ho-h-try-o-s-btn {
  padding: 48px 0;
}

/* three icons */
.h-header-icon-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.h-header-icon-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  white-space: nowrap;
  row-gap: 10px;
}

/* image mobile view */
.home-header-mobile-image {
  display: none;
}

/* How it works ?
  =================== */
.how-it-works-sec {
  background-color: var(--cont-bg-sec-color);
}

.how-it-works-inner-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 64px;
}


.how-it-works-simple-card-sec {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.h-it-w-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.h-it-w-card-details .h-w-c-num {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}

.h-it-w-card-details {
  position: relative;
  background-color: var(--NeroWhite);
  padding: 40px 12.5px 24px;
  border-radius: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 334px;
  margin-top: -40px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.h-w-c-title .h-w-c-title-text {
  color: var(--heading-color);
  font-size: 28px;
  line-height: 35px;
  font-weight: var(--semi-bold);
  padding-bottom: 12px;
  font-family: 'Source Sans Pro', sans-serif;
}

.h-w-c-paragraph .h-w-c-inner-para {
  margin-bottom: 20px;
}

/* how it works cards slider css*/
.previous-arrow{
  position: absolute;
  bottom: 0;
  left: 0;
}

.next-arrow{
  position: absolute;
  bottom: 0;
  right: 0;
}

.pagination-dots{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.dot{ 
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border: 1px solid var(--Rose-Fog);
  display: inline-block;
}

.active, .dot:hover{
  background-color: var(--Rose-Fog);;
}

.arrows{
  display: none;
}

.dots{
  display: none;
}


/* Our Customers love us ! section 
  ================================== */

.our-customer-love-inner-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 64px;
}

.our-cus-three-icon-text {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.our-cus-love-p-sec {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-cus-love-p {
  width: 60%;
  text-align: center;
}

.our-cus-icon-text {
  text-align: center;
}


/* Tail-waggingly delicious: Our dog food recipe section  */
.tail-waggingly-sec {
  background-color: var(--cont-bg-sec-color);
}

.tail-waggingly-inner-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  row-gap: 64px;
}

.tail-wa-three-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tail-wagingly-card {
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tail-w-ca-det {
  padding: 13px 20px 0;
}

.tail-w-c-det-text {
  text-align: center;
}

.medium-heading-fs {
  font-size: var(--medium-heading-fs);
  font-weight: var(--bold);
  line-height: var(--all-headings-line-height);
  color: var(--heading-color);
  font-family: "Source Serif 4", serif;
} 

/* navigation */
.navigation {
  display: none;
}

/* Give our Starter Pack a go ! section  */
.starter-pack-inner-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 64px;
}

.starter-pack-details {
  width: 85%;
}

.starter-pack-details .starter-p-det-text {
  text-align: center;
}

.starter-pack-details .starter-p-det-text-block {
  display: block;
}

.starter-pack-product-chart-sec {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding-top: 12px;
}

.starter-pack-chart {
  width: 432px;
  row-gap: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.st-pack-ch-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.st-pack-ch-title ul {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.st-pack-ch-title ul li {
  font-size: var(--Medium-400-fs);
  font-weight: var(--bold);
  line-height: var(--Medium-400-lh);
  letter-spacing: var(--Medium-400-ls);
  color: var(--Sec_brown);
  font-family: 'Source Sans Pro', sans-serif;
}

.st-p-ch-details .st-p-ch-det-text {
  text-align: center;
}

/* web image */ 
/* .starter-pack-img .starter-pack-lg-img{
    display: none;
} */

/* Why Choose us ? section */

.w-choose-us-sec {
  background-color: var(--cont-bg-sec-color);
  background-image: url(./bff-images/h-bg-image.png);
  background-repeat: no-repeat;
  background-position: center;
}

.w-choose-us-sec .w-ch-inner-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 64px;
}

.wh-ch-four-icont-text {
  width: 100%;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  grid-template-rows: auto;
  row-gap: 48px;
}

.wh-ch-icont-text {
  /* width: 35%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Our Bowl Plans section */
.our-b-plan-inner-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 64px;
}

.our-bowl-val-text-cnt {
  width: 53%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

/* reuse code  */
.big-title-font {
  font-size: 48px;
  line-height: 60px;
  color: var(--TobaccoBrown);
  font-family: 'Source Serif Pro', serif;
  font-weight: var(--bold);
}

.our-bowl-txt-inner-cnt .o-b-sm-t {
  margin-top: -6px;
}

.our-bowl-product-card-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.our-bowl-prd {
  width: 304px;
  height: 367px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.our-bo-pr-det {
  width: 100%;
  padding: 82px 16px 71px;
  background-color: var(--cont-bg-sec-color);
  margin-top: -65px;
  z-index: -1;
  border-radius: 8px;
}

.our-bo-pr-title-star {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.gradient-text {
  font-size: var(--Large-400-fs);
  line-height: var(--Large-400-lh);
  background: linear-gradient(90deg, #5D3E31 0%, #704B3B 24%, #855946 50%, #7D5C4E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.gradient-text::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #5D3E31 0%, #704B3B 24%, #855946 50%, #7D5C4E 100%);
}


/* What our Clients say ! section */

.testimonial-sec {
  background-color: var(--cont-bg-sec-color);
  /* padding: 80px 0px 60px 80px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-heading {
  text-align: center;
}

.testimonial-sec .testimonial-inner-sec {
  width: 100%;
}

.testimonial-heading {
  margin-bottom: 59px;
}

/* .testimonial-slides-sec {
  padding-left: 324px;
} */

.testimonial-slide-inner-sec {
  width: 100%;
  height: 100%;
  padding-bottom: 80px;
}

.testimonial-det-inner-sec {
  height: 424px;
  background-color: var(--NeroWhite);
  padding: 48px;
}

.te-ratin-and-right-sig {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonial-card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

}

.te-author-name {
  color: var(--heading-color);
}

.te-author-image-author-name {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
}

.tes-author-logo {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--TobaccoBrown);
}

.icon-font {
  font-size: 36px;
  color: var(--NeroWhite);
  font-family: "Source Serif 4", serif;
  font-weight: var(--bold);
}

.te-author-name-time p:last-child {
  color: var(--heading-color);
}

.testimonia-pagination {
  position: absolute;
  bottom: -100px;
}

.testimonia-pagination .swiper-pagination-bullet {
  border: 1px solid var(--Rose-Fog);
  width: 14px;
  height: 14px;
}

.testimonia-pagination .swiper-pagination-bullet-active {
  background-color: var(--Light_Rose_Fog);
}


/* Subscribe to our Email section start 
========================================*/
.subscribe-email-sec {
  padding: 0;
  box-sizing: border-box;
}

.subs-email-inner-sec {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-image: url(./bff-images/subscribe-email.png);
  background-position: center;
  background-repeat: no-repeat;
  row-gap: 45px;
  padding-top: 80px;
  padding-bottom: 325px;
}

.subscribe-email-details{
margin-bottom: 16px;
}

.subscribe-email-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.subs-email-inp .email-input {
  color: var(--Grey400);
  padding: 15px 20px;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--Light_Rose_Fog);
  outline: none;
  width: 388px;
  box-sizing: border-box;
}

.subs-email-inp .email-input:focus {
  border: 1px solid var(--Light_Rose_Fog);
}

.subs-email-btn .subscribe-button {
  border: none;
  outline: none;
  padding: 15px 51px;
  margin-left: -4px;
}

/* Subscribe to our Email section */
@media(max-width:576px) {
  .subscribe-email-sec {
    padding: 0 24px;
    text-align: center;
  }

  .subs-email-inner-sec {
    row-gap: 24px;
    height: auto;
    padding-top: 32px;
    padding-bottom: 130px;
    background-size: contain;
    background-position: bottom;
  }

  .subs-email-inp .email-input {
    padding: 13.5px 10px;
    width: 220px;
  }

  .subs-email-btn .subscribe-button {
    padding: 13px 13px;
    margin-left: -9px;
  }

  .subs-email-btn .subscribe-button button {
    font-size: var(--lg-icon-text-fs);
  }
}

/* Subscribe to our Email section end 
======================================*/ 

/* accordion section start 
==========================*/
/* Pet Meal FAQ */
.pet-meal-faq-sec {
  background-color: var(--cont-bg-sec-color);
}

.pet-meal-faq-inner-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 24px;
}

/* accordion and image section */
.accordion-and-images-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 66px;
}

.curious-dog-image {
  margin-top: -100px;
}

.curious-dog-image img {
  width: 100%;
  height: 100%;
}

.pet-meal-faq-det {
  margin-bottom: 24px;
}

/* ------- */
.pet-meal-faq-accordion {
  width: 785px;
}

.inner-accordion-section {
  width: 100%;
  background-color: #FDF8F7;
}

.acc-box {
  margin-bottom: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s linear;
  position: relative;
  background-color: var(--NeroWhite);
}

.accordion {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headin-op-cl-icon {
  position: relative;
}

.headin-op-cl-icon p {
  position: relative;
  padding: 17px;
}

.iconOpen {
  position: absolute;
  top: 15px;
  right: 15px;
}

.iconClose {
  position: absolute;
  top: 15px;
  right: 15px;
}

.hidden-box {
  display: none;
  padding: 0px 40px 16px 16px;
}

.hidden-box p {
  color: var(--heading-color);
}

.active .hidden-box {
  display: block;
}

@media (max-width: 930px) {

  /* accordion and image section */
  .accordion-and-images-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    column-gap: 0;
    row-gap: 30px;
  }

  /* accordion section start*/
  .pet-meal-faq-accordion {
    width: 90%;
  }

  .curious-dog-image {
    width: 329px;
    height: 404px;
    margin-top: 0;
  }

}

@media(max-width:576px) {

  /* accordion section start*/
  .pet-meal-faq-accordion {
    width: 100%;
  }

  .headin-op-cl-icon p {
    padding: 17px 48px 17px 17px;
  }

  .accordion-and-images-section {
    row-gap: 20px;
  }

  .curious-dog-image {
    width: 200px;
    height: 237.3px;
    margin-top: 0;
  }

  .pet-meal-faq-det {
    margin-bottom: 0;
  }
}
