@media (max-width:576px) {

    /* main container */
    .main-section {
        display: flex;
        justify-content: center;
        padding: 40px 24px 36px 24px;
    }

    .inner-section {
        width: 312px;
        height: auto;
    }

    /*   headings start */

    .main-heading h1 {
        font-size: var(--xl-heading-fs);
        line-height: var(--xl-heading-lh);
    }

    /*   headings end */
    /* Login */
    .login-link {
        padding-top: 22px;
        text-align: center;
    }

    .login-link p {
        font-size: var(--XSmall-400-fs);
        line-height: var(--XSmall-400-lh);
    }

    .login-link a {
        font-size: var(--xlarge-reg-fs);
        line-height: var(--xlarge-reg-lh);
    }


    /* Buttons */
    .submit-button input {
        font-size: 16px;
        line-height: 18px;
        font-weight: var(--semi-bold);
        padding: 13px;
    }

    /* bottom line */
    .bottom-line .half-bottom-line {
        width: 312px;
        height: .5px;
        background-color: rgba(0, 0, 0, 0.2);
      }
}
