@media (max-width:576px) {

    /* main container */
    .main-section {
        display: flex;
        justify-content: center;
        padding: 37px 24px 45px 24px;
    }

    .inner-section {
        width: 312px;
        height: auto;
    }

    /*   headings start */
    .main-heading {
        margin-bottom: 13px;
    }

    .login-account-heading {
        margin-bottom: 50px;
    }

    .main-heading h1 {
        font-size: var(--xl-heading-fs);
        line-height: var(--xl-heading-lh);
    }

    .login-account-heading h2 {
        font-size: var(--Large-400-fs);
        line-height: var(--Large-400-lh);
        letter-spacing: var(--Large-400-ls);
    }

    /*   headings end */

    /* forgot password */
    .forgot-password{
        padding: 4px 0 24px 0;
        text-align: end;
      }

    /* or text */
    .or-text {
        padding: 18px 0 12px 0;
        text-align: center;
    }

    .or-text p {
        font-size: var(--xlarge-reg-fs);
        line-height: var(--xlarge-reg-lh);
    }

    /* signup */
    .signup {
        padding-top: 16px;
        text-align: center;
    }

    .signup p {
        font-size: var(--XSmall-400-fs);
        line-height: var(--XSmall-400-lh);
    }

    .signup a {
        font-size: var(--xlarge-reg-fs);
        line-height: var(--xlarge-reg-lh);
    }


    /* Buttons */
    .submit-button input {
        font-size: 16px;
        line-height: 18px;
        font-weight: var(--semi-bold);
        padding: 13px;
    }

    .as-guest-btn {
        font-size: 16px;
        line-height: 18px;
        font-weight: var(--semi-bold);
        padding: 13px;
    }
    /* bottom line */
    .bottom-line .half-bottom-line {
        width: 312px;
        height: .5px;
        background-color: rgba(0, 0, 0, 0.2);
      }

}