/* breadcrumb media query */
@media(max-width:1420px) {
    .breadcrumb-sec .breadcrumb-inner-sec {
        width: 100%;
        padding: 15px 80px;
    }
}

@media(max-width:576px) {
    .breadcrumb-sec .breadcrumb-inner-sec {
        column-gap: 4px;
        padding: 12px 24px 15px 24px;
    }

    .breadcrumb-image {
        width: 18px;
        height: 18px;
        margin-bottom: 0px;
    }

    .breadcrumb-image img {
        width: 100%;
        height: 100%;
    }
}


/* about us media query */

@media (max-width:1200px) {
    .our-story-and-image-section {
        column-gap: 80px;
        padding-right: 0;
    }
}

@media (max-width:1000px) {
    .team-member-cards .team-member-card {
        width: 26%;
    }
}

/* slider media query start*/
@media (min-width: 576px) {
    .swiper {
        overflow: visible;
        width: 100%;
    } 

    .swiper-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .swiper-slide {
        width: 24% !important;
    }

    .swiper-pagination {
        display: none;
    }
}

/* slider media query start*/


@media (max-width:576px) {

    /* Welcome To Brunswick Fur Food section 
    ========================================*/
    .welcome-heading-and-details-inner-section {
        max-width: 312px;
        width: 100%;
        text-align: center;
    }

    .welcome-heading-and-tagline {
        margin-bottom: 24px;
    }

    .welcome-heading {
        margin-bottom: 16px;
    }

    .welcome-heading h1 {
        font-size: var(--xl-heading-fs);
        line-height: var(--xl-heading-lh);
    }

    .welcome-heading span {
        display: block;
    }

    .welcome-tag-line p {
        font-size: var(--Large-400-fs);
        line-height: var(--Large-400-lh);
        letter-spacing: var(--Large-400-ls);
    }

    /* our story section */

    .our-story-and-image-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        column-gap: 0;
    }

    .our-story-heading {
        margin-bottom: 16px;
    }

    .our-story-heading h2 {
        font-size: var(--XLarge-400-fs);
        line-height: var(--XLarge-400-lh);
        margin-bottom: 16px;
    }

    .our-story-paragraph p {
        font-size: var(--Medium-400-fs);
        line-height: var(--Medium-400-lh);
        letter-spacing: var(--Medium-400-ls);
    }


    /* icon and image */
    .icon-and-text-section {
        margin-top: 24px;
    }

    .icon-and-img {
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 8px 0 6px 0;
        border-radius: 8px;
        background-color: var(--Linen);
    }

    .icon-and-img .icon {
        width: 24px;
        height: 24px;
    }

    .icon-and-img .icon img {
        width: 100%;
        height: 100%;
    }

    .icon-text span {
        font-size: var(--xlarge-reg-fs);
        line-height: var(--xlarge-reg-lh);
    }

    /* mobile image view */
    .web-header-image {
        display: none;
    }

    .header-mobile-image {
        margin-top: 24px;
    }

    .mobile-header-image {
        display: inline-block;
    }

    /* About and Ingredients two section
    ======================== */
    .about-ingredients-inner-sections {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 28px;
        max-width: 312px;
        width: 100%;
    }

    .about-section,
    .Ingredients-section {
        width: 100%;
    }

    .about-section h2 {
        font-size: var(--XLarge-400-fs);
        line-height: var(--XLarge-400-lh);
        margin-bottom: 8px;
    }

    .Ingredients-section h2 {
        font-size: var(--XLarge-400-fs);
        line-height: var(--XLarge-400-lh);
        margin-bottom: 8px;
    }

    /* Meet our Team Section
    ========================= */
    .meet-team-section {
        margin-top: 24px;
        background-color: var(--Linen);
        padding-bottom: 32px;
    }

    .meet-our-team-heading {
        text-align: center;
        margin-bottom: 24px;
    }

    .meet-our-team-heading h2 {
        font-size: var(--xl-heading-fs);
        line-height: var(--xl-heading-lh);
    }

    .swiper-slide{
        width: 100%;
        border: 1px solid green;
      }

    /* slider navigation */
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        font-weight: var(--bold);
        border: 1.5px solid var(--Sec_brown);
        background-color: var(--Linen);
    }

    .swiper-pagination-bullet-active {
        background-color: var(--Sec_brown);
    }

    .team-cards-slider {
        padding-bottom: 50px;
    }

    .team-member-cards {
        display: none;
    }

    .team-member-slider {
        display: block;
        text-align: center;
    }

    .meet-team-inner-section {
        max-width: 312px;
        width: 100%;
    }

    .team-member-image {
        margin-bottom: 8px;
    }

    .team-member-card h2 {
        font-size: var(--Medium-400-fs);
        line-height: var(--Medium-400-lh);
        letter-spacing: var(--Medium-400-ls);
        color: var(--black);
    }

    .member-dsg {
        font-size: var(--XSmall-400-fs);
        line-height: var(--XSmall-400-lh);
        font-weight: var(--regular);
        margin: 8px 0 16px 0;
    }

    .team-member-description {
        text-align: left;
        font-size: var(--xlarge-reg-fs);
        line-height: var(--xlarge-reg-lh);
    }

    /* bottom line */
    .bottom-line {
        display: none;
    }


}