/* Import component files */
@import url(../component/theme.css);
@import url(../component/navbar.css);
@import url(../component/footer.css);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Breadcrumb section */
.breadcrumb-sec {
  padding: 0;
  background-color: var(--cont-bg-sec-color);
}

.breadcrumb-inner-sec {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 16px;
  column-gap: 16px;
}

.breadcrumb-image {
  margin-bottom: -5px;
}

/* welcome heading and two inner section
========================================== */
.welcome-heading-and-details{
  padding-bottom: 0;
}

.welcome-heading-and-tagline{
  text-align: center;
  margin-bottom: 64px;
}

.welcome-heading{
  margin-bottom: 24px;
}

.welcome-heading span{
  color: var(--TobaccoBrown);
}

.our-story-and-image-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 156px;
  padding-right: 80px;
}

.our-story-heading{
  margin-bottom: 29px;
}

.icon-and-text-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 29px;
}

.icon-text{
  margin-top: 17px;
}

.icon-text span{
  font-weight: var(--semi-bold);
}
/* hiden mobile image */
.mobile-header-image{
  display: none;
}

/* About and Ingredients two section */
.about-and-ingredients-sections{
  padding-bottom: 0;
}

.about-ingredients-inner-sections{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-section,
.Ingredients-section{
  width: 42%;
}

.about-ing-heading{
  margin-bottom: 24px;
}

/* Meet our Team Section 
======================== */
.meet-team-section{
  padding-bottom: 0;
}

.meet-our-team-heading{
  text-align: center;
  margin-bottom: 48px;
}

.team-member-image{
  margin-bottom: 12px;
}

.member-dsg {
  margin: 12px 0 16px 0;
}

/* bottom line */
.bottom-line {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bottom-line .half-bottom-line{
  width: 668px;
  height: .5px;
  background-color:rgba(0, 0, 0, 0.2);
}

.bottom-line{
  margin-top: 80px;
}



/* Subscribe to our Email section start 
========================================*/
.subscribe-email-sec {
  padding: 0;
  box-sizing: border-box;
}

.subs-email-inner-sec {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-image: url(./images/subscribe-email.png);
  background-position: center;
  background-repeat: no-repeat;
  row-gap: 45px;
  padding-top: 80px;
  padding-bottom: 325px;
}

.subscribe-email-details {
  margin-bottom: 16px;
  padding: 0 24px;
}

.subscribe-email-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.subs-email-inp .email-input {
  color: var(--Grey400);
  padding: 15px 20px;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--Light_Rose_Fog);
  outline: none;
  width: 388px;
  box-sizing: border-box;
}

.subs-email-inp .email-input:focus {
  border: 1px solid var(--Light_Rose_Fog);
}

.subs-email-btn .subscribe-button {
  border: none;
  outline: none;
  padding: 15px 51px;
  margin-left: -4px;
}

/* Subscribe to our Email section */
@media(max-width:576px) {
  .subscribe-email-sec {
    padding: 0;
    text-align: center;
    overflow: hidden;
  }

  .subs-email-inner-sec {
    row-gap: 24px;
    padding-top: 32px;
    padding-bottom: 138px;
    background-size: 550px auto;
    background-position: bottom;
  }

  .subscribe-email-details {
    margin-bottom: 0px;
  }

  .subs-email-inp .email-input {
    padding: 13.5px 10px;
    width: 220px;
  }

  .subs-email-btn .subscribe-button {
    padding: 13px 13px;
    margin-left: -9px;
  }

  .subs-email-btn .subscribe-button button {
    font-size: var(--lg-icon-text-fs);
  }
}

/* Subscribe to our Email section end 
======================================*/