/* Import component files */
@import url(../component/theme.css);


/* Navbar section start
======================== */

.nav-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 70px;
  background-color: var(--Grey100);
  padding: 10px 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-section {
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Source Sans Pro';
}

.logo-section .logo {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
} 

.nav-inner-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link-item {
  margin-right: 24px;
}

.nav-link-item:last-child {
  margin-right: 0px;
}


/* dropdown items start
======================= */
.nav-dw-btn {
  position: relative;
  width: 114px;
  cursor: pointer;
}

.nav-dw-btn.active {
  background-color: #CECECE;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.nav-hidden-links{
  position: absolute;
  top: 40px;
}

/* toggle css start */
.read-toggle-and-images{
  display: flex;
  justify-content: center;
  align-content: center;
}

.open-arrow{
  display: none;
}

.nav-hidden-links{
  width: 114px;
  text-align: center;
  background-color: var(--NeroWhite);
  display: none;
}

.nav-hidden-links a{
  width: 100%;
  display: inline-block;
}

/* toggle css start */
/* dropdown items end
======================= */

.nav-link, 
.read-toggle-and-images,
.login-username {
  font-size: var(--Large-400-fs);
  font-weight: var(--regular);
  text-decoration: none;
  color: black;
  padding: 12px 14px;
  white-space: nowrap;
  border-radius: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  transition: all .3s linear;
}

.nav-link:hover {
  background-color: #CECECE;
}

.read-toggle-and-images:hover{
  background-color: #CECECE;
}

.nav-link.active {
  border-radius: 0;
  border-bottom: 1px solid var(--black);
  background-color: var(--Grey100);
  transition: none;
}

.nav-login-btn .nav-login-anch {
  font-size: var(--Medium-400-fs);
  font-weight: var(--regular);
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  color: var(--NeroWhite);
  padding: 13px 46px;
  background: linear-gradient(90deg, #5D3E31 0%, #704B3B 24%, #855946 50%, #7D5C4E 100%);
  border-radius: 5px;
}

.nav-login-btn .nav-login-anch:hover {
  background: var(--Dark_brown);
}

/* Login user dropdown
======================== */
.username-and-arrows {
  position: relative;
  width: 114px;
  cursor: pointer;
}

.user-hide-details{
  position: absolute;
  top: 40px;
}

.login-dropdown{
  display: flex;
  justify-content: center;
  align-items: center;
}
.open-arrow-second{
  display: none;
}

.user-hide-details{
  width: 114px;
  text-align: center;
  background-color: var(--NeroWhite);
  display: none;
}

.user-hide-details a{
  width: 100%;
  display: inline-block;
}

.user-name-and-image{
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 1300px) {
  .nav-container {
    padding: 10px 20px;
  }

  .nav-link-item {
    margin-right: 0px;
  }

  .nav-link {
    padding: 12px 14px;
  }
}


@media(max-width:948px) {
  .nav-link{
    font-size: var(--lg-icon-text-fs);
    line-height: var(--lg-icon-text-lh);
    letter-spacing: var(--lg-icon-text-ls);
    padding: 12px 12px;
  } 
  .logo-section {
    width: 140px;
  }

  .logo-section .logo {
    font-size: 14px;
    line-height: 25px;
    font-weight: 700;
    color: var(--black);
    white-space: nowrap;
  } 

}

/* mobile navbar css start 
============================*/

.mobile-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Grey100);
}

.mobile-nav-container {
  width: 100%;
  display: none;
}

.mobile-nav-inner-sec {
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
}

.mobile-humburger {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mob-nav-cart-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-nav-logo {
  text-align: center;
}

.mobile-nav-logo .bff-mobile-view-logo {
  color: var(--black);
  padding-bottom: 2px;
  cursor: pointer;
  text-decoration: none;
}
 

/* mobile popup */

.mobile-sidebar {
  position: fixed;
  transition: left 0.3s ease-in-out;
  width: 310px;
  left: -310px;
  height: 90vh;
  background-color: var(--NeroWhite);
  z-index: 99;
  padding: 20px 24px 46px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.menu-close-icon {
  display: flex;
  justify-content: flex-end;
}

.slider-links-inner-sec {
  list-style: none;
}

.slider-links-inner-sec .sidebar-link {
  width: 100%;
  font-size: 26px;
  line-height: 30px;
  font-family: 'Source Serif Pro';
  font-weight: var(--bold);
  color: var(--Sec_brown);
  text-decoration: none;
  padding: 16px 12px;
  display: inline-block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.19);
}

.sidebar-login-btn {
  width: 133px;
  padding-top: 26px;
}

.sidebar-login-btn .s-log-btn {
  padding: 13px 0;

}

/* close and open icon */


@media(max-width:788px) {
  .nav-container {
    display: none;
  }

  .mobile-nav-container {
    display: block;
  }
}



/* BREAD CRUMB POSITION STICKY ONLY DESKTOP */
.breadcrumb-sec{
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  z-index: 30;
}

@media(max-width: 576px){
  .breadcrumb-sec{ 
    position: unset;
    top: auto;
    z-index: auto;
  }
}

/* Navbar section end
======================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Loggedin home page main section
=================================== */
.loggedin-homepage {
  padding-top: 0;
}

/* header two section
====================== */
.username-and-puppy-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loggedin-username {
  border-bottom: .5px solid rgba(0, 0, 0, 0.1);
  padding: 80px 0 40px 0;
  width: 100%;
}

/* LoggedIn details and short post description
=============================================== */
.loggedin-details-and-short-post {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}

.loggedin-details {
  max-width: 738px;
  width: 60%;
  padding-right: 26px;
}

.subscription-heading {
  padding-bottom: 24px;
}

.subscription-heading h2 {
  font-weight: var(--semi-bold);
}

/* product and subscription details section */

.product-and-subs-details {
  border-radius: 6px;
  padding: 24px 16px;
  background-color: var(--Linen);
  border: 1px solid var(--LightGreen);
}

.ongoing-box {
  background-color: var(--LightGreen);
  padding: 6px;
  border-radius: 7px;
}

.ongoing-box p {
  color: #36724F;
}

/* Small product */
.small-product {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  margin: 16px 0;
}

.product-title-and-quant p {
  padding-bottom: 4px;
}

.product-title-and-quant p:last-child {
  padding-bottom: 0px;
}

/* Your next deliver sec */
.next-delivery-and-skip-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: .5px solid #EDEEE9;
  padding: 16px 0;
}

.pause-subscription,
.cancel-subscription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-top: .5px solid #EDEEE9;
}

/* Looking for some help section */

.some-help-section-title {
  margin: 32px 0 24px 0;
  color: var(--brown);
}

.some-help-three-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 16px 16px 18px 16px;
  border-radius: 6px;
  background-color: var(--Linen);
  border: 1px solid var(--LightGreen);
}


/* Got a Minute section
======================== */
.got-a-minute-title {
  margin: 32px 0 24px 0;
}

.back-image-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 240px;
  padding: 70.66px 42px 120.2px 42px;
  background-image: url(./images/background-image.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.review-button button {
  border: none;
  outline: none;
  padding: 13px 36px;
}


/* Second section [Short post section]
 ===================== */
.short-post-cards {
  max-width: 40%;
  width: 523px;
  padding-left: 26px;
  border-left: .5px solid rgba(0, 0, 0, 0.1);
}

.short-post {
  background-color: var(--Linen);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  margin-bottom: 16px;
}

.short-post-inner-sec {
  max-width: 352px;
  width: 90%;
}

.short-post-detail {
  color: var(--brown);
}

.short-post-date-and-share-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.short-post-detail,
.excerpt {
  padding-bottom: 16px;
}

/* Subscribe to our Email section start 
========================================*/
.subscribe-email-sec {
  padding: 0;
  box-sizing: border-box;
}

.subs-email-inner-sec {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-image: url(./images/subscribe-email.png);
  background-position: center;
  background-repeat: no-repeat;
  row-gap: 45px;
  padding-top: 80px;
  padding-bottom: 325px;
}

.subscribe-email-details {
  margin-bottom: 16px;
  padding: 0 24px;
}

.subscribe-email-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.subs-email-inp .email-input {
  color: var(--Grey400);
  padding: 15px 20px;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--Light_Rose_Fog);
  outline: none;
  width: 388px;
  box-sizing: border-box;
}

.subs-email-inp .email-input:focus {
  border: 1px solid var(--Light_Rose_Fog);
}

.subs-email-btn .subscribe-button {
  border: none;
  outline: none;
  padding: 15px 51px;
  margin-left: -4px;
}

/* Subscribe to our Email section */
@media(max-width:576px) {
  .subscribe-email-sec {
    padding: 0;
    text-align: center;
    overflow: hidden;
  }

  .subs-email-inner-sec {
    row-gap: 24px;
    padding-top: 32px;
    padding-bottom: 138px;
    background-size: 550px auto;
    background-position: bottom;
  }

  .subscribe-email-details {
    margin-bottom: 0px;
  }

  .subs-email-inp .email-input {
    padding: 13.5px 10px;
    width: 220px;
  }

  .subs-email-btn .subscribe-button {
    padding: 13px 13px;
    margin-left: -9px;
  }

  .subs-email-btn .subscribe-button button {
    font-size: var(--lg-icon-text-fs);
  }
}

/* Subscribe to our Email section end 
======================================*/

/* Footer section start
======================== */

/* Footer section 
  ===================*/
  .footer-section {
    background-color: var(--Grey100);
    padding-bottom: 0;
  }
  
  .footer-inner-sec {
    padding: 0 40px;
  }
  
  .footer-det-three-sec {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0 56px 40px;
    border-bottom: 1px solid rgba(0, 0, 0, .26);
  }
  
  .footer-links-two-section {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-icon-text-two-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
  }
  
  .footer-icon-text-first-sec {
    text-align: center;
  }
  
  .footer-logo-det-sec {
    text-align: center;
    gap: 100px;
  }
  
  .f-logo-sm-lg {
    margin-bottom: 67px;
  }
  
  .footer-useful-links-sec {
    padding-top: 14px;
  }
  
  .f-main-link {
    margin-bottom: 60px;
  }
  
  .f-link-item {
    display: flex;
    flex-direction: column;
  }
  
  .f-main-link-item {
    padding-bottom: 16px;
  }
  
  .policy-etc-link ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .policy-etc-link ul li {
    border-right: 1px solid var(--Grey800);
    padding: 0 10px;
    white-space: nowrap;
  }
  
  .policy-etc-link ul li:last-child {
    border-right: none;
  }
  
  /* mobile view paragraph */
  .footer-mobile-text-para{
    display: none;
  }
  
  .mobile-newsletter-btn {
    display: none;
  }
  /* copy right sec */
  .footer-copy-right-sec {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 128px 5px 35px;
  }
  
  .footer-facebook-insta-logo {
    width: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-ins-logo {
    text-decoration: none;
  }
  
  /* footer login and signup button view mobile screen */
  .loging-and-signup-button {
    display: none;
    /* padding: 20px; */
  }
  
  .footer-loging-singup-inner-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 20px;
  }
  
  .footer-signup-btn a,
  .footer-loging-btn a {
    padding: 13px 42px;
    white-space: nowrap;
  }

  /* Footer image section */
  .footer-image-section{
    background-color: var(--Grey100);
    width: 100%;
    overflow: hidden;
  }

  .footer-image{
    width: 100%;
    height: 100%;
  }

  .footer-image img{
    width: 100%;
    height: 100%;
  }

  @media(max-width: 576px){
    .footer-image-section{
      height: 139.5px;
    }
  }

  @media(max-width: 450px){
    .footer-image-section{
      height: 84.46px;
    }
  }



  /* footer media query */
  /* Footer section */
@media(max-width:1150px){
  .footer-inner-sec{
    padding: 0px;
  }
  .footer-copy-right-sec{
    padding: 40px 20px 5px 0px;
  }
}

@media(max-width:1150px){
  .footer-det-three-sec{
    padding: 0 0 40px  0;
  }
}

@media (max-width: 576px) {
    .footer-inner-sec {
      justify-content: center;
      align-items: center;
      padding: 0;
      width: 312px;
    }
  
    .footer-det-three-sec {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 0 0px 18px;
    }
  
    .f-logo-sm-lg .f-logo-lg {
      font-size: var(--lg-icon-text-fs);
      line-height: var(--lg-icon-text-lh);
      letter-spacing: var(--lg-icon-text-ls);
      font-weight: var(--bold);
    }
  
    .footer-useful-links-sec {
      padding-top: 0;
    }
  
    .footer-logo-det-sec {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0px;
    }
  
    .login-signup-mobile-link {
      display: none;
    }
  
    .mobile-newsletter-btn {
      display: block;
    }
  
    .f-logo-sm-lg .f-logo-sm {
      font-size: var(--xlarge-reg-fs);
      font-weight: var(--regular);
    }
  
    .footer-links-two-section {
      width: 263px;
      display: flex;
      justify-content: space-between;
      text-align: center;
    }
  
    .f-main-link {
      margin-bottom: 14px;
    }
  
    .footer-copy-right-sec {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      padding: 24px 0 0;
    }
  
    .f-copy-right-text {
      order: 1;
      padding-top: 16px;
      padding-bottom: 4px;
    }
  
    .policy-etc-link {
      order: 1;
    }
  
    .f-logo-sm-lg {
      margin-bottom: 24px;
    }
  
    .f-main-link-item {
      padding-bottom: 4px;
      font-size: var(--xlarge-reg-fs);
      line-height: var(--xlarge-reg-lh);
    }
  
    .copy-right-txt {
      font-size: var(--xlarge-reg-fs);
      line-height: var(--xlarge-reg-lh);
    }
  
    .footer-links-top-h {
      font-size: var(--lg-icon-text-fs);
      letter-spacing: var(--lg-icon-text-ls);
      line-height: var(--lg-icon-text-lh);
    }
  
    .footer-icon-text-two-sec {
      margin-bottom: 24px;
      width: 286px;
    }
  
    .footer-mobile-text-para {
      font-size: var(--xlarge-reg-fs);
      line-height: var(--xlarge-reg-lh);
      display: block;
      padding: 24px 0 10px 0;
    }
  
    /* login and signup button */
    .loging-and-signup-button {
      display: block;
      padding: 10px 0 16px 0;
    }
  
  }

/* Footer section end
======================== */