/* breadcrumb media query */
@media(max-width:1420px) {
    .breadcrumb-sec .breadcrumb-inner-sec {
        width: 100%;
        padding: 15px 80px;
    }
}

@media(max-width:576px) {
    .breadcrumb-sec .breadcrumb-inner-sec {
        column-gap: 4px;
        padding: 12px 24px 15px 24px;
    }

    .breadcrumb-image {
        width: 18px;
        height: 18px;
        margin-bottom: 0px;
    }

    .breadcrumb-image img {
        width: 100%;
        height: 100%;
    }
}


/* cards and header media query
================================ */
@media(max-width: 1200px) {

    /* card media query
    ==================== */
    .post-title-text {
        font-size: var(--Large-400-fs);
        line-height: var(--Large-400-lh);
        letter-spacing: var(--Large-400-ls);
    }

}


@media (max-width: 1150px) {
    .blog-heading-and-paragraph {
        width: 50%;
    }
}


@media (max-width: 1000px) {
    .blog-details-and-image {
        height: auto;
        position: unset;
        flex-direction: column;
    }

    /* Header layout */
    .blog-heading-and-paragraph {
        width: 100%;
    }

    .blog-post-section {
        padding-top: 24px;
        padding-bottom: 16px;
    }

    .header-web-image {
        display: none;
    }

    .header-mobile-image {
        display: inline-block;
    }

    .blog-top-paragraph p {
        font-size: var(--XLarge-400-fs);
        line-height: var(--XLarge-400-lh);
        letter-spacing: var(--XLarge-400-ls);
    }

    .blog-header-image-sec {
        position: unset;
    }

}

@media(max-width: 850px) {
    .post-cards-section {
        display: flex;
        justify-content: center;
    }

    .post-cards-inner-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        column-gap: 40px;
        row-gap: 60px;
    }
}

@media(max-width: 576px) {

    /* header section
    ================== */
    .blog-top-paragraph p {
        font-size: var(--Large-400-fs);
        line-height: var(--Large-400-lh);
        letter-spacing: var(--Large-400-ls);
    }

    /* post cars and grid layout
    ============================= */

    .post-card-sec {
        background-color: var(--cont-bg-sec-color);
        padding: 16px 0;
        max-width: 312px;
        width: 100%;
      }

    .post-cards-inner-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        column-gap: 0;
        row-gap: 14px;
        max-width: 312px;
        width: 100%;
        justify-content: center;
    }

    .post-date p {
        font-size: var(--xlarge-reg-fs);
        line-height: var(--xlarge-reg-lh);
    }

    .post-title-text {
        color: var(--black);
    }

    .post-detail p {
        font-size: var(--XSmall-400-fs);
        line-height: var(--XSmall-400-lh);
    }

    .read-more-button a {
        font-size: var(--xlarge-reg-fs);
        line-height: var(--xlarge-reg-lh);
        font-weight: var(--bold);
    }
}


/* slider navigation */
@media(max-width: 1000px){
    .swiper-button-prev {
        position: absolute;
        bottom: 10px;
        left: 36%;
        transform: translateX(-36%); 
      }

      .swiper-button-next { 
        position: absolute;
        bottom: 10px;
        right: 35.5%;
        transform: translateX(-35.5%); 
      }
}

/* slider navigation */
@media(max-width: 576px){
    .swiper-button-prev {
        position: absolute;
        bottom: 10px;
        left: 25%;
        transform: translateX(-25%); 
      }

      .swiper-button-next { 
        position: absolute;
        bottom: 10px;
        right: 24.5%;
        transform: translateX(-24.5%); 
      }
}

/* slider navigation */
@media(max-width: 450px){
    .swiper-button-prev {
        position: absolute;
        bottom: 10px;
        left: 18%;
        transform: translateX(-18%); 
      }

      .swiper-button-next { 
        position: absolute;
        bottom: 10px;
        right: 17.5%;
        transform: translateX(-17.5%); 
      }
}