@import url(../css/theme.css);
@import url(../css/nav.css);
@import url(../css/footer.css);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Breadcrumb section */
.breadcrumb-sec {
  padding: 0;
  background-color: var(--cont-bg-sec-color);
}

.breadcrumb-inner-sec {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 16px;
  column-gap: 16px;
}

.breadcrumb-image {
  margin-bottom: -5px;
}

/* Block main section
======================= */
.blog-post-section {
  padding-top: 0;
}


/* Blog heading, details and image 
===================================*/
.blog-details-and-image {
  height: 320px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-heading-and-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  white-space: wrap;
  row-gap: 17px;
  margin-bottom: 17px;
}

.blog-heading h1 {
  color: var(--black);
  padding-right: 10px;
  word-wrap: break-word;
}

.blog-header-image-sec {
  position: absolute;
  top: 0;
  right: 0;
}

/* post card section */
.post-cards-inner-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 40px;
  row-gap: 80px;
}

.post-card-sec {
  background-color: var(--cont-bg-sec-color);
  padding: 24px 0 16px;
  max-width: 580px;
  width: 100%;
}

.card-date-and-like-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  padding: 0 12px;
}


.post-image {
  width: 100%;
  height: 100%;
}

.post-image img {
  width: 100%;
  height: 100%;
}

.post-title-and-post-detail {
  padding: 16px 12px 0 12px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 16px;
}

.post-title-text {
  color: var(--brown);
}

.read-more-button-section {
  padding: 16px 12px 0;
}


/* hide mobile image */
.header-mobile-image{
  display: none;
}




/* Subscribe to our Email section start 
========================================*/
.subscribe-email-sec {
  padding: 0;
  box-sizing: border-box;
}

.subs-email-inner-sec {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-image: url(./images/subscribe-email.png);
  background-position: center;
  background-repeat: no-repeat;
  row-gap: 45px;
  padding-top: 80px;
  padding-bottom: 325px;
}

.subscribe-email-details {
  margin-bottom: 16px;
  padding: 0 24px;
}

.subscribe-email-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.subs-email-inp .email-input {
  color: var(--Grey400);
  padding: 15px 20px;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--Light_Rose_Fog);
  outline: none;
  width: 388px;
  box-sizing: border-box;
}

.subs-email-inp .email-input:focus {
  border: 1px solid var(--Light_Rose_Fog);
}

.subs-email-btn .subscribe-button {
  border: none;
  outline: none;
  padding: 15px 51px;
  margin-left: -4px;
}

/* Subscribe to our Email section */
@media(max-width:576px) {
  .subscribe-email-sec {
    padding: 0;
    text-align: center;
    overflow: hidden;
  }

  .subs-email-inner-sec {
    row-gap: 24px;
    padding-top: 32px;
    padding-bottom: 138px;
    background-size: 550px auto;
    background-position: bottom;
  }

  .subscribe-email-details {
    margin-bottom: 0px;
  }

  .subs-email-inp .email-input {
    padding: 13.5px 10px;
    width: 220px;
  }

  .subs-email-btn .subscribe-button {
    padding: 13px 13px;
    margin-left: -9px;
  }

  .subs-email-btn .subscribe-button button {
    font-size: var(--lg-icon-text-fs);
  }
}

/* Subscribe to our Email section end 
======================================*/