@media (max-width:576px) {

    /* main container */
    .main-section {
        display: flex;
        justify-content: center;
        padding: 40px 24px 46px 24px;
    }

    .inner-section {
        width: 312px;
    }

    /*   headings start */

    .tag-line {
        margin-bottom: 46px;
    }

    .main-heading h1 {
        font-size: var(--xl-heading-fs);
        line-height: var(--xl-heading-lh);
    }

    .tag-line h2 {
        font-size: var(--Medium-400-fs);
        line-height: var(--Medium-400-lh);
        letter-spacing: var(--Medium-400-ls);
        font-weight: var(--regular);
    }

    /*   headings end */

    /*   image
    =============== */

    .reset-pass-image {
        width: 244.16px;
        height: 126.8px;
        margin: 44.26px 0 27.19px 0;
    }

    .reset-pass-image img {
        width: 100%;
        height: 100%;
    }

    /* form section */
    .form-section {
        width: 100%;
        max-width: auto;
    }

    /* signup */
    .signup {
        padding-top: 16px;
        text-align: center;
    }

    .signup p {
        font-size: var(--XSmall-400-fs);
        line-height: var(--XSmall-400-lh);
    }

    .signup a {
        font-size: var(--xlarge-reg-fs);
        line-height: var(--xlarge-reg-lh);
        text-transform: uppercase;
    }


    /* Buttons */
    .submit-button input {
        font-size: 16px;
        line-height: 18px;
        font-weight: var(--semi-bold);
        padding: 13px;
    }

    .as-guest-btn {
        font-size: 16px;
        line-height: 18px;
        font-weight: var(--semi-bold);
        padding: 13px;
    }

    /* bottom line */
    /* bottom line */
    .middle-line {
        padding: 38.93px 0 32.07px 0;
    }

    .bottom-line .half-bottom-line {
        width: 312px;
        height: .5px;
        background-color: rgba(0, 0, 0, 0.2);
    }

}