/* breadcrumb media query */
@media(max-width:1420px) {
    .breadcrumb-sec .breadcrumb-inner-sec {
        width: 100%;
        padding: 15px 80px;
    }
}

@media(max-width:576px) {
    .breadcrumb-sec .breadcrumb-inner-sec {
        column-gap: 4px;
        padding: 12px 24px 15px 24px;
    }

    .breadcrumb-image {
        width: 18px;
        height: 18px;
        margin-bottom: 0px;
    }

    .breadcrumb-image img {
        width: 100%;
        height: 100%;
    }

    /* hide and see link mobile screen */
    .hide-link-breadcrumb {
        display: none;
    }

    .view-link-breadcrumb {
        display: inline-block;
    }
}

/* post code form */
@media(max-width: 576px) {
    .product-discount-and-frequncy-subsc-sec {
        max-width: 312px;
        padding: 0;
    }

    /* discount form button */
    .discount-form-title {
        display: none;
    }

    .discount-form .apply-button {
        font-size: var(--lg-icon-text-fs);
    }

    .discount-form {
        padding-bottom: 16px;
        padding-top: 16px;
    }
}


/* check main form */
@media(max-width: 1000px) {

    /* Checkout main form  */
    .checkout-product-and-form-inner-section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* First section */
    .checkout-first-section {
        max-width: 738px;
        width: 100%;
        padding: 16px;
        border-right: none;
    }

    /* second section */
    .checkout-second-section {
        width: 100%;
        max-width: 500px;
        padding: 16px;
        position: unset;
        top: auto;
    }

}

/* media query 576px */
@media (max-width:576px) {

    /* title text */
    .contact-title-text p,
    .delivery-title-text p,
    .payment-title-text p,
    .billing-address-title p {
        font-size: var(--lg-icon-text-fs);
        line-height: var(--lg-icon-text-lh);
    }

    .current-location-link a,
    .read-policy-link a {
        font-size: var(--XSmall-400-fs);
        line-height: var(--XSmall-400-lh);
    }

    .check-box-and-text label {
        font-size: var(--XSmall-400-fs);
        line-height: var(--XSmall-400-lh);
    }

    /* First section */
    .checkout-first-section {
        max-width: 312px;
        padding: 0;
    }

    /* second section */
    .checkout-second-section {
        width: 100%;
        max-width: 312px;
        padding: 0;
    }

    /* product section */

    .order-summery-text p {
        color: var(--TobaccoBrown);
    }

    .order-summery-price p {
        font-size: var(--Medium-400-fs);
        line-height: var(--Medium-400-lh);
    }

    .product-image-and-details-section {
        align-items: flex-start;
        column-gap: 16px;
    }

    .product-image {
        width: 64px;
        height: 64px;
    }

    .product-image img {
        width: 100%;
        height: 100%;
    }

    .product-title p {
        font-size: var(--lg-icon-text-fs);
        line-height: var(--lg-icon-text-lh);
    }

    .product-price p,
    .product-size p,
    .product-units-and-pack p,
    .subscription-and-image p {
        font-size: var(--lg-icon-text-fs);
        line-height: var(--lg-icon-text-lh);
    }

    /* porduct dropdown 
    ====================*/
    .some-product-section {
        display: none;
        padding-top: 30px;
    }

    .order-summery-and-price {
        margin-bottom: 0;
    }

    .order-summery-text {
        display: flex;
        row-gap: 4px;
    }

    /* hide dropdown image */
    .dropdown-images {
        display: block;
    }



}

















/* Payment Frequncy */
@media (max-width: 576px) {
    /* second section
    ================== */

    .product-discount-and-frequncy-subsc-sec {
        max-width: 312px;
        padding: 0;
    }

    /* discount form button */
    .discount-form-title {
        display: none;
    }

    .discount-form .apply-button {
        font-size: var(--lg-icon-text-fs);
    }

    .discount-form {
        padding-bottom: 16px;
        padding-top: 16px;
    }

    /* set delivery frequnce section fortnightly or monthly */

    .set-delivery-freq-sec .set-delivery-freq-title {
        padding-bottom: 16px;
        white-space: wrap;
        font-size: var(--lg-icon-text-fs);
        line-height: var(--lg-icon-text-lh);
        letter-spacing: var(--lg-icon-text-ls);
    }

    .delivery-frequency-two-button .form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        row-gap: 16px;
    }

    .delivery-freq {
        border: 1px solid var(--Rose-Fog);
        padding: 16px 26px;
        border-radius: 8px;
        width: 100%;
    }


    /* product price details*/

    .price-details-text p {
        font-size: var(--lg-icon-text-fs);
        line-height: var(--lg-icon-text-lh);
        letter-spacing: auto;
    }

    .price-details-text span {
        font-size: var(--XSmall-400-fs);
        line-height: var(--XSmall-400-lh);
        letter-spacing: auto;
    }

    .subtotal-text p,
    .subtotal-price p,
    .coupon-code-and-text p,
    .coupon-code-price p {
        font-size: var(--lg-icon-text-fs);
        line-height: var(--lg-icon-text-lh);
        letter-spacing: auto;
    }

    .shiping-charge-text p,
    .paid-or-no-paid p {
        font-size: var(--lg-icon-text-fs);
        line-height: var(--lg-icon-text-lh);
        letter-spacing: auto;
    }

    .total-price-text p,
    .total-price p {
        font-size: var(--Medium-400-fs);
        line-height: var(--Medium-400-lh);
        letter-spacing: auto;
    }

    /* place order button position fiexd mobile device */


    .pay-now-button-section {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 13.5px 26px;
        background-color: var(--Linen);
        z-index: 10;
    }

    .pay-now-button button {
        max-width: 312px;
        width: 90%;
        padding: 13px 0;
        outline: none;
        border: none;
    }

    .total-price-text-price {
        padding: 16px 0 0;
    }
}

/* footer image margin bottom */
@media (max-width: 576px) {
    .footer-image-section {
        margin-bottom: 84.46px;
    }
}