@import url(../css/theme.css);
@import url(../css/nav.css);
@import url(../css/footer.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Breadcrumb section */
.breadcrumb-sec {
    padding: 0;
    background-color: var(--cont-bg-sec-color);
}

.breadcrumb-inner-sec {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 16px;
    column-gap: 16px;
}

.breadcrumb-image {
    margin-bottom: -5px;
}

/* hide link mobile screen */
.view-link-breadcrumb {
    display: none;
}

/* Check out Main section start */
.checkout-product-section{
    background-color: var(--Linen);
}