/* Import component files */
@import url(../style.css);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

/* Breadcrumb section */
.breadcrumb-sec {
  padding: 0;
  background-color: var(--cont-bg-sec-color);
}

.breadcrumb-inner-sec {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 16px;
  column-gap: 70px;
}

.breadcrumb-image {
  margin-bottom: -5px;
}

/* post details main section
============================= */
.post-details-and-short-post-cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.post {
  max-width: 738px;
  width: 60%;
  padding: 32px;
  border-right: .5px solid rgba(0, 0, 0, 0.1);
}

.post-title {
  text-align: center;
  margin-bottom: 32px;
}

.post-date-and-share-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 24px 0;
}


/* Blog heading, details and image 
===================================*/
.anchor_links {
  list-style-type: none;
}

.anchor_links li {
  padding-bottom: 24px;
}

.anchor_links li:first-child{
  padding-top: 12px;
}

.anchor_links li a {
  color: var(--TobaccoBrown);
  text-decoration: none;
  transition: all .3s linear;
}

/* Section title and details paragraph
======================================= */
.section-title-and-paragraph{
  scroll-margin-top: 130px;
  margin-bottom: 24px;
}

.section-title{
  padding-bottom: 12px;
  color: var(--black);
}

.section-paragraph p{
  padding-bottom: 24px;
}

.section-paragraph p:last-child{
  padding-bottom: 0;
}


/* Back to to button */
.back-top-button{
  padding-top: 30px;
  text-align: center;
}

/* Second section [Short post section]
 ===================== */
 .short-post-cards {
  max-width: 523px;
  width: 40%;
  border: 1px solid blue;
}

 
 .short-post{
  background-color: var(--Linen);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  margin-bottom: 16px;
 }
 
 
 .short-post-inner-sec{
  max-width: 352px;
  width: 90%;
 }
 
.short-post-detail{
  color: var(--brown);
}

.short-post-date-and-share-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.short-post-detail,
.excerpt{
  padding-bottom: 16px;
}



/* Subscribe to our Email section start 
========================================*/
.subscribe-email-sec {
  padding: 0;
  box-sizing: border-box;
}

.subs-email-inner-sec {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-image: url(./images/subscribe-email.png);
  background-position: center;
  background-repeat: no-repeat;
  row-gap: 45px;
  padding-top: 80px;
  padding-bottom: 325px;
}

.subscribe-email-details {
  margin-bottom: 16px;
  padding: 0 24px;
}

.subscribe-email-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.subs-email-inp .email-input {
  color: var(--Grey400);
  padding: 15px 20px;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--Light_Rose_Fog);
  outline: none;
  width: 388px;
  box-sizing: border-box;
}

.subs-email-inp .email-input:focus {
  border: 1px solid var(--Light_Rose_Fog);
}

.subs-email-btn .subscribe-button {
  border: none;
  outline: none;
  padding: 15px 51px;
  margin-left: -4px;
}

/* Subscribe to our Email section */
@media(max-width:576px) {
  .subscribe-email-sec {
    padding: 0;
    text-align: center;
    overflow: hidden;
  }

  .subs-email-inner-sec {
    row-gap: 24px;
    padding-top: 32px;
    padding-bottom: 138px;
    background-size: 550px auto;
    background-position: bottom;
  }

  .subscribe-email-details {
    margin-bottom: 0px;
  }

  .subs-email-inp .email-input {
    padding: 13.5px 10px;
    width: 220px;
  }

  .subs-email-btn .subscribe-button {
    padding: 13px 13px;
    margin-left: -9px;
  }

  .subs-email-btn .subscribe-button button {
    font-size: var(--lg-icon-text-fs);
  }
}

/* Subscribe to our Email section end 
======================================*/