
/* Our Bowl Plans section */
@media(max-width:1320px){ 
    .our-bowl-details-sec{
      width: 50%;
    }

    .our-bowl-dog-image{
        width: 50%;
      }
      .our-bowl-dog-image img{
        width: 100%;
        height: 100%;
      }

    .four-product {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        column-gap: 10%;
        row-gap: 40px;
    }
}

@media(max-width:1114px){ 
    .four-product {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-content: center;
        justify-content: center;
        grid-template-rows: auto;
        row-gap: 40px;
    }
}

/* bowl-details-section */
@media(max-width:1320px) {
    .bowl-details-three-sec {
        grid-template-columns: repeat(2, 1fr);
    }
}