@import url(../css/theme.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Breadcrumb section */
.breadcrumb-sec{
    padding: 0;
}

.breadcrumb-inner-sec{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--cont-bg-sec-color);
    padding: 15px 16px;
}

/* Our Bowl Plans section */

.our-bowl-plan-inner-sec{
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-bowl-details-sec {
    padding-right: 43px;
}

.our-bowl-detail-paragraph p:first-child{
    padding: 24px 0;
}

/* Our Bowl Plans section */
.product-section{
    padding-top: 0;
}

.four-product{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    column-gap: 22px;
}

.product{
    background-color: var(--cont-bg-sec-color);
    width: 303px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px 13.66px;
    border: .5px solid rgba(0, 0, 0, 0.22);
    border-radius: 8px;
}

.product-details{
    width: 100%;
    padding: 0px 13px; 
} 

.product-quantity span{
   color: var(--Grey400);
}

.product-icon-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 4px;
}

.product-price-text{
    padding: 12px 0;
    color: var(--brown);
}

.product-price-text .from-word{
    font-size: var(--XSmall-400-fs);
    line-height: var(--XSmall-400-lh);
    font-weight: var(--regular);
    color: var(--brown);
    font-family: 'Source Sans Pro', sans-serif;
}

.product-quantity-and-title{
    padding: 10px 12px 10px 10px;
    border: 1px solid var(--LightGreen);
    margin: 12px 0;
    border-radius: 4px;
}

.product-quantity{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.product-learn-more-btn{
    padding: auto;
}

.product-learn-more-btn a{
    padding: 13px 0;
}