/* breadcrumb media query */
@media(max-width:1420px) {
    .breadcrumb-sec .breadcrumb-inner-sec {
        width: 100%;
        padding: 15px 80px;
    }
}

@media(max-width:576px) {
    .breadcrumb-sec .breadcrumb-inner-sec {
        column-gap: 4px;
        padding: 12px 24px 15px 24px;
    }

    .breadcrumb-image {
        width: 18px;
        height: 18px;
        margin-bottom: 0px;
    }

    .breadcrumb-image img {
        width: 100%;
        height: 100%;
    }
}

/* contact us page media query
================================ */

@media (max-width:576px) {

    /* main container */
    .main-section {
        display: flex;
        justify-content: center;
        padding: 40px 24px 36px 24px;
    }

    .inner-section {
        width: 312px;
        height: auto;
    }

    /*   headings start */

    .main-heading h1 {
        font-size: var(--xl-heading-fs);
        line-height: var(--xl-heading-lh);
    }

    /*   headings end */

    /* Buttons */
    .submit-button input {
        font-size: 16px;
        line-height: 18px;
        font-weight: var(--semi-bold);
        padding: 13px;
    }

    /* bottom line */
    .bottom-line .half-bottom-line {
        width: 312px;
        height: .5px;
        background-color: rgba(0, 0, 0, 0.2);
      }
}
