@import url(../css/theme.css);
@import url(../css/nav.css);
@import url(../css/footer.css);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Breadcrumb section */
.breadcrumb-sec {
  padding: 0;
  background-color: var(--cont-bg-sec-color);
}

.breadcrumb-inner-sec {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 16px;
  column-gap: 16px;
}

.breadcrumb-image {
  margin-bottom: -5px;
}

/* main container
================== */
.main-section{
  display: flex;
  justify-content: center;
  padding: 80px 24px;
}

.inner-section{
  width: 432px;
  height: auto;
}


/*   headings
======================= */
.heading-and-detals{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 32px;
  margin-bottom: 64px;
}


/* form section and image */
.form-section-and-image{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* form section start
=====================*/
.form-section{
  max-width: 555px;
  width: 50%;
}

.label-input-boxes {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 32px;
}

.label-and-input-box {
  position: relative;
  width: 100%;
}

.label-box {
  position: absolute;
  top: -10px;
  left: 16px;
  padding: 0 4px;
  background-color: var(--NeroWhite);
  z-index: 1;
}

.relative-label {
  font-size: var(--xlarge-reg-fs);
  font-weight: var(--regular);
  line-height: 16px;
  color: var(--Grey800);
  font-family: 'Source Sans Pro', sans-serif;
}

.relative-input {
  width: 100%;
  padding: 19px 19px;
  border: 1px solid var(--Rose-Fog);
  border-radius: 4px;
  /* font related */
  font-size: var(--lg-icon-text-fs);
  font-weight: var(--regular);
  line-height: var(--lg-icon-text-lh);
  color: var(--brown);
  font-family: 'Source Sans Pro', sans-serif;
}

.relative-input:focus {
  outline: none;
  border: 3px solid var(--TobaccoBrown);
}

#concern{
  resize: none;
  height: 107px;
}

/* form section end
=====================*/

/* buttons and forget password
================================ */
.submit-button{
  margin: 40px auto 0;
  width: 432px;
}

.submit-button input{
  border: none;
  outline: none;
  padding: 21.5px;
}

/* bottom line */
.bottom-line {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bottom-line .half-bottom-line {
  max-width: 668px;
  width: 90%;
  height: .5px;
  background-color: rgba(0, 0, 0, 0.2);
}


/* Subscribe to our Email section start 
========================================*/
.subscribe-email-sec {
  padding: 0;
  box-sizing: border-box;
}

.subs-email-inner-sec {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-image: url(./images/subscribe-email.png);
  background-position: center;
  background-repeat: no-repeat;
  row-gap: 45px;
  padding-top: 80px;
  padding-bottom: 325px;
}

.subscribe-email-details {
  margin-bottom: 16px;
  padding: 0 24px;
}

.subscribe-email-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.subs-email-inp .email-input {
  color: var(--Grey400);
  padding: 15px 20px;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--Light_Rose_Fog);
  outline: none;
  width: 388px;
  box-sizing: border-box;
}

.subs-email-inp .email-input:focus {
  border: 1px solid var(--Light_Rose_Fog);
}

.subs-email-btn .subscribe-button {
  border: none;
  outline: none;
  padding: 15px 51px;
  margin-left: -4px;
}

/* Subscribe to our Email section */
@media(max-width:576px) {
  .subscribe-email-sec {
    padding: 0;
    text-align: center;
    overflow: hidden;
  }

  .subs-email-inner-sec {
    row-gap: 24px;
    padding-top: 32px;
    padding-bottom: 138px;
    background-size: 550px auto;
    background-position: bottom;
  }

  .subscribe-email-details {
    margin-bottom: 0px;
  }

  .subs-email-inp .email-input {
    padding: 13.5px 10px;
    width: 220px;
  }

  .subs-email-btn .subscribe-button {
    padding: 13px 13px;
    margin-left: -9px;
  }

  .subs-email-btn .subscribe-button button {
    font-size: var(--lg-icon-text-fs);
  }
}

/* Subscribe to our Email section end 
======================================*/