@import url(../css/theme.css);
@import url(../css/nav.css);
@import url(../css/footer.css);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/* Breadcrumb section */
.breadcrumb-sec {
  padding: 0;
  background-color: var(--cont-bg-sec-color);
}

.breadcrumb-inner-sec {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 16px;
  column-gap: 16px;
}

.breadcrumb-image {
  margin-bottom: -5px;
}

/* hide link mobile screen */
.view-link-breadcrumb {
  display: none;
}

/* Our Bowl Plans section */


/* Subscribe to our Email section start 
========================================*/
.subscribe-email-sec {
    padding: 0;
    box-sizing: border-box;
}

.subs-email-inner-sec {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url(./images/subscribe-email.png);
    background-position: center;
    background-repeat: no-repeat;
    row-gap: 45px;
    padding-top: 80px;
    padding-bottom: 325px;
}

.subscribe-email-details{
  margin-bottom: 16px;
}

.subscribe-email-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.subs-email-inp .email-input {
    color: var(--Grey400);
    padding: 15px 20px;
    border-radius: 5px 0 0 5px;
    border: 1px solid var(--Light_Rose_Fog);
    outline: none;
    width: 388px;
    box-sizing: border-box;
}

.subs-email-inp .email-input:focus {
    border: 1px solid var(--Light_Rose_Fog);
}

.subs-email-btn .subscribe-button {
    border: none;
    outline: none;
    padding: 15px 51px;
    margin-left: -4px;
}

/* Subscribe to our Email section */
@media(max-width:576px) {
    .subscribe-email-sec {
      padding: 0 24px;
      text-align: center;
    }
  
    .subs-email-inner-sec {
      row-gap: 24px;
      height: auto;
      padding-top: 32px;
      padding-bottom: 130px;
      background-size: contain;
      background-position: bottom;
    }
  
    .subs-email-inp .email-input {
      padding: 13.5px 10px;
      width: 220px;
    }
  
    .subs-email-btn .subscribe-button {
      padding: 13px 13px;
      margin-left: -9px;
    }
  
    .subs-email-btn .subscribe-button button {
      font-size: var(--lg-icon-text-fs);
    }
  }

/* Subscribe to our Email section end 
======================================*/ 

/* accordion section start 
==========================*/
/* Pet Meal FAQ */
.pet-meal-faq-sec {
    background-color: var(--cont-bg-sec-color);
  }
  
  .pet-meal-faq-inner-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 24px;
  }

  /* accordion and image section */
  .accordion-and-images-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .pet-meal-faq-det {
    margin-bottom: 24px;
  }
  
  /* ------- */
  .pet-meal-faq-accordion {
    width: 83%;
  }
  
  .inner-accordion-section {
    width: 100%;
    background-color: #FDF8F7;
  }
  
  .acc-box {
    margin-bottom: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s linear;
    position: relative;
    background-color: var(--NeroWhite);
  }
  
  .accordion {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .headin-op-cl-icon {
    position: relative;
  }
  
  .headin-op-cl-icon p {
    position: relative;
    padding: 17px;
  }
  
  .iconOpen {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .iconClose {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .hidden-box {
    display: none;
    padding: 0px 40px 16px 16px;
  }
  
  .hidden-box p {
    color: var(--heading-color);
  }
  
  .active .hidden-box {
    display: block;
  }

  @media(max-width:576px){
    /* accordion section start*/
    .pet-meal-faq-accordion {
      width: 100%;
  }

  .headin-op-cl-icon p {
      padding: 17px 48px 17px 17px;
  }

  }


  