/* Import component files */
@import url(../component/theme.css);
@import url(../component/navbar.css);
@import url(../component/footer.css);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Breadcrumb section */
.breadcrumb-sec {
  padding: 0;
  background-color: var(--cont-bg-sec-color);
}

.breadcrumb-inner-sec {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 16px;
  column-gap: 16px;
}

.breadcrumb-image {
  margin-bottom: -5px;
}

/* hide link mobile screen */
.view-link-breadcrumb {
  display: none;
}

/* Payment main section
============================ */
.payment-success{
  padding-top: 46px;
}

.payment-success-two-section{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.products-and-user-details-section{
  max-width: 60%;
  width: 706px;
  position: relative;
  background-color: var(--Linen);
  margin-right: 25px;
}

.products-and-user-details-section::after{
  content: "";
  position: absolute;
  top: 0;
  right: -25px;
  bottom: 0;
  border-right: .5px solid rgba(0, 0, 0, .1);
}

/* Product section */
.product-main-section{
  width: 100%;
}

.product-inner-section {
  background-color: var(--Linen);
  padding: 16px;
}

.product-box {
  background-color: var(--Linen);
  margin-bottom: 24px;
}

.product-box:last-child {
  margin-bottom: 0;
}

.order-summery-text p {
  font-weight: var(--semi-bold);
}

.order-summery-and-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}


/* Product image and details section 
======================================*/
.product-image-and-details-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 48px;
}

/* product image qunatity */
.product-image-and-quantity {
  position: relative;
}

.product-image {
  width: 90px;
  height: 90px;
}

.product-image img {
  width: 100%;
  height: 100%;
}

.product-top-quantity {
  position: absolute;
  top: -4px;
  right: -4px;
}


.product-top-quantity {
  background-color: black;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-top-quantity p {
  color: var(--NeroWhite);
  font-size: var(--xlarge-reg-fs);
  font-family: 'Source Sans Pro';
  font-weight: var(--bold);
}

/* only product detail section */
.product-details {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 4px;
}

.product-title-and-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 15px;
}

/* bold pack */
.product-units-and-pack span {
  font-weight: bold;
}

/* subscribe email */
.subscription-and-image {
  display: flex;
  justify-content: flex-start;
  align-content: baseline;
}

/* Price Details and total amount*/ 
/* product price and details */
.price-details-and-total-amount{
  padding: 0 16px 0;
  }
  
  .product-price-detail {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 16px;
  padding-top: 16px;
  border-top: 1px dashed rgba(0, 0, 0, .1);
  border-bottom: 1px dashed rgba(0, 0, 0, .1);
}

.product-price-detail span{
  font-weight: var(--regular);
}

.read-policy-link {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  white-space: nowrap;
}

.subtotal-text-and-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* coupon code text and price */
.coupon-code-and-price{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coupon-code-and-text p{
  color: #36724F;
}

.shiping-charge-paid-or-no-paid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* total amount and button */
.total-price-text-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 16px;
  border-top: 1px dashed rgba(0, 0, 0, .1);
}

.total-price-box{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  row-gap: 16px;
}

.total-price-text p,
.total-price p {
  color: var(--brown);
}

/* Customer information section
============================= */
.customer-info-inner-sec{
  padding: 16px;
}

.customer-info-title,
.payment-title,
.shiping-method-title{
  padding: 16px 0;
}

.customer-info-title p,
.payment-title p,
.shiping-method-title p{
  font-weight: var(--semi-bold);
}

.shipping-and-billing-address{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 138px;
}

.shipping-add-title,
.billing-address-title{
  padding-bottom: 12px;
}


.billing-user-details,
.shiping-user-details{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 8px;
}


.image-ending-digit {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  column-gap: 6px;
  }
  
  .image-ending-digit .image{
  width: 32px;
  height: 14.25px;
}

.image-ending-digit .image img{
  width: 100%;
  height: 100%;
}

/* Second section
================== */
.purchase-confirmation{
  max-width: 523px;
  width: 40%;
}

.purchase-confirmation-inner-sec{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 24px;
  text-align: center;
}

.purchase-heading-and-para{
  max-width: 400px;
  width: 90%;
  padding-bottom: 16px; 
}

.purchase-heading p{
  color: var(--brown);
  padding-bottom: 4px;
}

.countinue-shoping-button{
  max-width: 432px;
  width: 90%;
}

.countinue-shoping-button a{
  padding: 21.5px 0;
}

/* display none mobile view button */
.countinue-shoping-button-mobile-view{
  display: none;
}


/* accordion section start 
==========================*/
/* Pet Meal FAQ */
.pet-meal-faq-sec {
  background-color: var(--cont-bg-sec-color);
}

.pet-meal-faq-inner-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 24px;
}

/* accordion and image section */
.accordion-and-images-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 66px;
}

.curious-dog-image {
  margin-top: -100px;
}

.curious-dog-image img {
  width: 100%;
  height: 100%;
}

.pet-meal-faq-det {
  margin-bottom: 24px;
}

/* ------- */
.pet-meal-faq-accordion {
  width: 785px;
}

.inner-accordion-section {
  width: 100%;
  background-color: #FDF8F7;
}

.acc-box {
  margin-bottom: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s linear;
  position: relative;
  background-color: var(--NeroWhite);
}

.accordion {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headin-op-cl-icon {
  position: relative;
}

.headin-op-cl-icon p {
  position: relative;
  padding: 17px;
}

.iconOpen {
  position: absolute;
  top: 15px;
  right: 15px;
}

.iconClose {
  position: absolute;
  top: 15px;
  right: 15px;
}

.hidden-box {
  display: none;
  padding: 0px 40px 16px 16px;
}

.hidden-box p {
  color: var(--heading-color);
}

.active .hidden-box {
  display: block;
}

@media (max-width: 930px) {

  /* accordion and image section */
  .accordion-and-images-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    column-gap: 0;
    row-gap: 30px;
  }

  /* accordion section start*/
  .pet-meal-faq-accordion {
    width: 90%;
  }

  .curious-dog-image {
    width: 329px;
    height: 404px;
    margin-top: 0;
  }

}

@media(max-width:576px) {

  /* accordion section start*/
  .pet-meal-faq-accordion {
    width: 100%;
  }

  .headin-op-cl-icon p {
    padding: 17px 48px 17px 17px;
  }

  .accordion-and-images-section {
    row-gap: 20px;
  }

  .curious-dog-image {
    width: 200px;
    height: 237.3px;
    margin-top: 0;
  }

  .pet-meal-faq-det {
    margin-bottom: 0;
  }


}