@import url(../css/theme.css);
@import url(../css/nav.css);
@import url(../css/footer.css);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Breadcrumb section */
.breadcrumb-sec {
  padding: 0;
  background-color: var(--cont-bg-sec-color);
}

.breadcrumb-inner-sec {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 16px;
  column-gap: 16px;
}

.breadcrumb-image {
  margin-bottom: -5px;
}

/* hide link mobile screen */
.view-link-breadcrumb{
  display: none;
}



/* Subscribe to our Email section start 
========================================*/
.subscribe-email-sec {
  padding: 0;
}

.subs-email-inner-sec {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  row-gap: 48px;
  height: 570px;
  padding-top: 80px;
  background-image: url(./images/active-campaign-bg-image.png);
  background-position: center;
  background-repeat: no-repeat;
}

.subscribe-email-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.subs-email-inp .email-input {
  color: var(--Grey400);
  padding: 15px 20px;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--Light_Rose_Fog);
  outline: none;
  width: 388px;
  box-sizing: border-box;
}

.subs-email-inp .email-input:focus {
  border: 1px solid var(--Light_Rose_Fog);
}

.subs-email-btn .subscribe-button {
  border: none;
  outline: none;
  padding: 15px 51px;
  margin-left: -4px;
}

/* Subscribe to our Email section */
@media(max-width:576px) {
  .subscribe-email-sec {
    padding: 0 24px;
    text-align: center;
  }

  .subs-email-inner-sec {
    row-gap: 24px;
    height: auto;
    padding-top: 32px;
    padding-bottom: 130px;
    background-size: contain;
    background-position: bottom;
  }

  .subs-email-inp .email-input {
    padding: 9px 10px;
    width: 220px;
  }

  .subs-email-btn .subscribe-button {
    padding: 13px 13px;
    margin-left: -4px;
  }

  .subs-email-btn .subscribe-button button {
    font-size: var(--lg-icon-text-fs);
  }
}




/* Subscribe to our Email section end */


/* your-cart section */

.your-cart-heading-and-add-more-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.cart-and-product-two-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.cart-and-product-section {
  padding: 16px;
  max-width: 738px;
  width: 55%;
  border-right: .5px solid rgba(0, 0, 0, .1);
}

/* available coupons section */
.availabe-coupons-sec {
  border: 1px solid var(--Rose-Fog);
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 12px;
}

.coupon-related-hide-text .hide-coupons {
  margin-bottom: 12px;
}

.coupon-related-hide-text .hide-coupons:last-child {
  margin-bottom: 0;
}

.show-more-btn button {
  border: none;
  outline: none;
}

.coupon-code {
  font-weight: var(--bold);
}

/* invisible text */
.invisible-text {
  display: none;
}

/* Order details section */
.oredr-details-heading {
  margin: 16px 0;
}


/* add cart card */
.add-product-cart {
  padding: 16px 81px 17px 16px;
  background-color: var(--cont-bg-sec-color);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 48px;
  margin-bottom: 16px;
  position: relative;
}


.product-quantity-and-size-dropdown {
  display: flex;
  column-gap: 16px;
  margin: 16px 0;
}

.product-size-dropdown {
  background-color: var(--LightGreen);
  padding: 4px 6px;
}

.product-quantity-dropdown {
  background-color: var(--LightGreen);
  padding: 4px 6px;
}

.select-quant-size {
  background-color: transparent;
  padding: 5px;
  border: none;
  /* edit font */
  font-size: var(--Medium-400-fs);
  line-height: var(--Medium-400-lh);
  letter-spacing: var(--Medium-400-ls);
  font-weight: var(--regular);
  color: var(--Sec_brown);
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
}

.select-quant-size option {
  font-size: var(--Medium-400-fs);
  line-height: var(--Medium-400-lh);
  letter-spacing: var(--Medium-400-ls);
  font-weight: var(--regular);
  color: var(--Sec_brown);
  font-family: 'Source Sans Pro', sans-serif;
}

/* Change border color when select element is focused */
.select-quant-size:focus {
  border: none;
  outline: none;
}

/* change dropdown color */
.label-font {
  font-weight: var(--bold);
}

/* subscribe text */
.subscribe-image-and-text {
  display: flex;
  column-gap: 4px;
  margin-top: 16.5px;
}

.subscribe-text {
  color: var(--brown);
}


/* product close icon */
.product-delete-button {
  position: absolute;
  top: 16px;
  right: 16px;
}


/* discount form section
=========================== */
.product-discount-and-frequncy-subsc-sec {
  padding: 16px;
  max-width: 523px;
  width: 40%;
  white-space: nowrap;
}


.discount-form {
  width: 100%;
  white-space: nowrap;
  padding-bottom: 16px;
  border-bottom: .5px solid rgba(0, 0, 0, .1); 
}

.discount-form-title {
  margin-bottom: 12px;
}

.discount-form .discount-input {
  padding: 18px 16px;
  font-size: var(--lg-icon-text-fs);
  letter-spacing: var(--lg-icon-text-ls);
  line-height: var(--lg-icon-text-lh);
  color: var(--Grey400);
  font-weight: var(--semi-bold);
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  border: 1px solid var(--Rose-Fog);
  border-radius: 4px;
  width: 75%;
}

.discount-form .discount-input:focus {
  border: 1px solid var(--Rose-Fog);
  outline: none;
}

.discount-form .apply-button {
  border: none;
  outline: none;
  width: 83px ;
  padding: 16.5px 19px;
  font-size: var(--Medium-400-fs);
  line-height: var(--Medium-400-lh);
  letter-spacing: var(--Medium-400-ls);
  font-weight: var(--regular);
  color: var(--NeroWhite);
  background-color: var(--Disabled_brown);
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 5px;
  cursor: pointer;
}

/* set delivery frequncy section */
.set-delivery-freq-sec {
  padding: 16px 0;
  border-bottom: .5px solid rgba(0, 0, 0, .1);
}

.set-delivery-freq-sec .set-delivery-freq-title {
  padding-bottom: 28px;
}

.delivery-frequency-two-button .form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.delivery-freq {
  border: 1px solid var(--Rose-Fog);
  padding: 16px 26px;
  border-radius: 8px;
  width: 47%;
}

.delivery-freq label {
  display: flex;
  justify-content: flex-start;
  align-content: baseline;
  column-gap: 8px;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  accent-color: var(--Sec_brown);
}

/* next delivery date box */
.next-delivery-date-box {
  padding-top: 25px;
}

.next-del-date {
  width: 80%;
  max-width: 330px;
  display: flex;
  justify-content: flex-start;
  align-content: baseline;
  white-space: wrap;
  column-gap: 2px;
  border: .2px solid rgba(0, 0, 0, .1);
  border-radius: 4px;
  padding: 9.5px 34px 7.5px;
  background-color: #FFFFDB;
}

/* product price and details */
.product-price-detail {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 16px;
  padding: 16px 0;
  border-bottom: .5px solid rgba(0, 0, 0, .1);
  ;
}

.subtotal-text-and-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shiping-charge-paid-or-no-paid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* total amount and button */
.total-price-text-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 32px;
}

.total-price-text p,
.total-price p {
  color: var(--brown);
}

.place-order-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.place-order-button button {
  width: 90%;
  padding: 13px 0;
  outline: none;
  border: none;
}

/* Footer image section  */
.footer-section{
  padding-bottom: 0;
}

.footer-image-section{
  background-color: var(--Grey100);
  width: 100%;
  overflow: hidden;
}
.footer-image{
  width: 100%;
  height: 100%;
}

.footer-image img{
  width: 100%;
  height: 100%;
}