/* breadcrumb media query */
@media(max-width:1420px) {
    .breadcrumb-sec .breadcrumb-inner-sec {
        width: 100%;
        padding: 15px 80px;
    }
}

@media(max-width:576px) {
    .breadcrumb-sec .breadcrumb-inner-sec {
        column-gap: 4px;
        padding: 12px 24px 15px 24px;
    }

    .breadcrumb-image {
        width: 18px;
        height: 18px;
        margin-bottom: 0px;
    }

    .breadcrumb-image img {
        width: 100%;
        height: 100%;
    }
}


/* tabs media query */

@media(max-width:1300px) {

    /* product tab */
    .product-tab-buttons {
        padding: 0 20px;
    }

    /* slider section */
    .slider-and-details {
        background-color: var(--cont-bg-sec-color);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 40px;
    }

    .slider-and-details .slider-and-details-inner-sec {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-slider-sec {
        width: 40%;
    }

    .image-slide {
        width: 100%;
        height: 100%;
    }

    .image-slide img {
        width: 100%;
        height: 100%;
    }

    /* Nutrition table */
    .nutrition-table {
        border-collapse: collapse;
        min-width: auto;
        width: 100%;
    }
}

@media(max-width:1200px) {

    /* slider section */
    .slider-and-details .slider-and-details-inner-sec {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* Ingredients small cards */
    .ingredients-cards {
        width: auto;
        column-gap: 40px;
        margin: 0 auto;
        padding: 0 0 0 50px;
    }
}

@media(max-width:1100px) {

    /* Nutrition table section */
    .nutrition-two-table {
        justify-content: space-between;
        column-gap: 40px;
    }
}

@media(max-width:918px) {

    /* Nutrition table section */
    .nutrition-two-table {
        justify-content: space-between;
        flex-direction: column;
        column-gap: 40px;
        row-gap: 60px;
    }

    .nutrition-table {
        border-collapse: collapse;
        min-width: 600px;
        width: 100%;
    }

    /* product slide details */
    .product-detail-by-btn {
        row-gap: 30px;
        padding: 0;
    }

    .product-para p {
        font-size: var(--Medium-400-fs);
        line-height: var(--Medium-400-lh);
        letter-spacing: var(--Medium-400-ls);
    }

    /* feeding instruction screen */
    .feeding-instruction-details {
        width: 80%;
    }

}

@media(max-width:636px) {

    /* slider section */
    .slider-and-details .slider-and-details-inner-sec {
        flex-direction: column;
        row-gap: 28px;
    }

    .image-slider-sec {
        width: 80%;
    }

    .product-detail-by-btn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 48px;
        padding: 0 32px;
    }

    /* storage instruction */
    .storage-three-sec {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    .storage-instruction-sec {
        width: 100%;
    }

    /* Nutrition table section */
    .nutrition-table {
        border-collapse: collapse;
        min-width: auto;
        width: 100%;
    }
}


@media(max-width:576px) {

    /* accordion decoration */
    /* product tab buttons */
    .tab-btn button {
        font-size: var(--xlarge-reg-fs);
        line-height: var(--xlarge-reg-lh);
        letter-spacing: var(--xlarge-reg-ls);
    }

    /* slider section */
    .product-image-slide {
        padding-bottom: 40px;
    }

    .image-slider-sec {
        width: 80%;
    }

    .product-detail-by-btn {
        width: 312px;
        padding: 0;
        text-align: center;
        row-gap: 0;
    }

    .slider-and-details {
        background-color: var(--NeroWhite);
        padding: 32px 24px;
    }

    .product-para p {
        font-size: var(--lg-icon-text-fs);
        line-height: 18px;
        letter-spacing: var(--lg-icon-text-ls);
    }

    /* proceed to by button */
    .buy-button-box {
        width: 100%;
        position: fixed;
        bottom: 0;
        padding: 13px 26px;
        background-color: var(--cont-bg-sec-color);
        text-align: center;
        z-index: 20;
    }

    .proceed-to-by-btn {
        width: 90%;
        max-width: 308px;
        margin: 0 auto;
    }

    .proceed-to-by-btn a {
        padding: 13px 0;
        font-size: var(--lg-icon-text-fs);
        line-height: var(--lg-icon-text-lh);
        letter-spacing: var(--lg-icon-text-ls);
    }

    .product-title-icon {
        display: none;
    } 

    /* product title------ */
    .product-title-icon-mobile-view {
        display: block;
    }


    .product-title-icon-mobile-view-inner-sec {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 8px;
    }

    .product-title-mobile-view h2 {
        font-size: 26px;
        line-height: 30px;
    } 

    /* ingredients-section */
    .ingredients-section {
        background-color: var(--cont-bg-sec-color);
        padding: 24px;
        margin-bottom: 24px;
    }

    .ingredients-cards {
        width: auto;
        column-gap: 40px;
        row-gap: 32px;
        padding: 0;
        justify-content: space-between;
    }

    .ing-card-img {
        width: 64px;
        height: 64px;
    }

    .ing-card-img img {
        width: 100%;
        height: 100%;
    }

    .ing-card-det p {
        font-size: var(--xlarge-reg-fs);
        font-family: var(--xlarge-reg-lh);
        letter-spacing: var(--xlarge-reg-ls);
    }

    /* nutrition-section */
    .nutrition-section {
        background-color: var(--cont-bg-sec-color);
        padding: 24px;
        margin-bottom: 24px;
    }

    .nutrition-two-table .nutrition-table:first-child {
        margin-bottom: 40px;
    }

    .nutrition-table thead tr {
        font-size: var(--XSmall-400-fs);
        line-height: var(--XSmall-400-lh);
    }

    .nutrition-table th,
    .nutrition-table td {
        padding: 10px 14px 10px 14px;
        border: 1px solid #dddddd;
    }

    .nutrition-table tbody tr {
        font-size: var(--xlarge-reg-fs);
        font-family: var(--xlarge-reg-lh);
        letter-spacing: var(--xlarge-reg-ls);
    }

    /* table */

    /* storage-section */
    .storage-section {
        background-color: var(--cont-bg-sec-color);
        padding: 24px;
        margin-bottom: 24px;
    }

    .storage-instruction-sec p:first-child {
        font-size: var(--XSmall-400-fs);
        line-height: var(--XSmall-400-lh);
        padding-bottom: 14px;
    }

    .storage-instruction-sec p:last-child {
        font-size: var(--XSmall-400-fs);
        line-height: var(--XSmall-400-lh);
    }

    /* feeding-instruction-section */
    .feeding-instruction-section {
        background-color: var(--cont-bg-sec-color);
        padding: 24px;
        margin-bottom: 20px;
    }

    .feeding-instruction-details {
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: 20px;
        padding-right: 40px;
    }

    .feeding-ins-det-text p {
        font-size: var(--XSmall-400-fs);
        line-height: var(--XSmall-400-lh);
        text-align: left;
    }

    /* .feeding-chart{
        justify-content: flex-start;
    } */

    .feeding-chart a {
        text-align: left;
        font-size: var(--XSmall-400-fs);
        line-height: var(--XSmall-400-lh);
    }

    .tab-heading-box {
        margin: 0;
        padding: 0;
    }

    /* accordion functionality */


    .tab-heading-box .tab-heading {
        font-size: var(--XLarge-400-fs);
        line-height: var(--XLarge-400-lh);
        text-transform: capitalize !important;
    }

    .tab-heading-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .open-and-close-icon {
        display: block;
    }

    .hide-details {
        display: none;
        padding-top: 20px;
    }

    .active .hide-details {
        display: block;
    } 
}

@media (max-width:400px) {
    .ingredients-cards {
        column-gap: 10px;
    } 
}

@media (max-width:350px){
    .product-detail-by-btn {
        width: 90%;
        padding: 0;
        text-align: center;
        row-gap: 0;
    }
}


/* footer image margin bottom */
@media (max-width: 576px){
    .footer-image-section{
    margin-bottom: 84.46px;
}
}
