@import url(../css/theme.css);
@import url(../css/nav.css);
@import url(../css/footer.css);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Breadcrumb section */
.breadcrumb-sec {
  padding: 0;
  background-color: var(--cont-bg-sec-color);
}

.breadcrumb-inner-sec {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 16px;
  column-gap: 16px;
}

.breadcrumb-image{
  margin-bottom: -5px;
}

/* Tab section start */
.prodcut-tab-buttons-section {
  padding: 10px 0 0 0;
}

.product-tab-buttons {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
}

.btns_cont {
  width: 100%;
}

.tab-btn {
  width: auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
  white-space: nowrap;
}

.tab-btn button {
  font-size: var(--lg-icon-text-fs);
  line-height: var(--lg-icon-text-lh);
  letter-spacing: var(--lg-icon-text-ls);
  font-weight: var(--bold);
  color: var(--Grey600);
  font-family: 'Source Sans Pro', sans-serif;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px 0 0 0;
}

.tab-btn.active button {
  color: var(--black);
  font-weight: var(--bold);
}

.tab-btn .button-underline {
  width: 100%;
  height: 4px;
  background-color: #006350;
  border-radius: 5px;
  opacity: 0;
}

.tab-btn:hover .button-underline {
  background-color: #006350;
  opacity: 1;
}

.tab-btn.active .button-underline {
  opacity: 1;
  background-color: #006350;
}

/* tab links 
------------- */

.tab-container {
  display: none;
}


/* slider and product information section
============================== */
.slider-and-details {
  background-color: var(--cont-bg-sec-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.slider-and-details .slider-and-details-inner-sec {
  width: 1280px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-slider-sec {
  width: 50%;
}

.product-image-slide {
  padding-bottom: 20px;
}

.image-slider-pagination .swiper-pagination-bullet {
  background-color: var(--NeroWhite);
  border: 1.5px solid var(--Dark_brown);
  width: 14px;
  height: 14px;
}

.image-slider-pagination .swiper-pagination-bullet-active {
  background-color: var(--Sec_brown) !important;
}

/* product title mobile view */
.product-title-icon-mobile-view{
  display: none;
}

/* variety product no image */
.variety-no-image{
  display: none;
}

/* Porduct accordion open and close icon hide */
.open-and-close-icon{
  display: none;
}

/* footer by btn */
.footer-product-by-btn{
  display: none;
}


/* 2product details section 
============================*/

.product-detail-by-btn {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 48px;
  padding: 0 32px;
}

.product-title-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-button-box{
  width: 100%;
}

.proceed-to-by-btn {
  width: 75%;
  margin: 0 auto;
}

.proceed-to-by-btn a {
  padding: 21px 0;
}

/* Ingredients section */
.ingredients-section {
  background-color: var(--NeroWhite);
}

.ingredients-inner-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ingredients-heading {
  text-align: center;
  margin-bottom: 48px;
}

/* ingredient small card */

.ingredients-cards {
  width: 1035px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 45px;
  row-gap: 40px;
  /* padding: 0 120px; */
}

.ing-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90px;
  height: 110px;
}

.ing-card-det p {
  color: var(--Grey600);
}

/* Nutions section 
 ===================*/
.nutrition-heading {
  text-align: center;
  margin-bottom: 48px;
}

.nutrition-section {
  background-color: var(--cont-bg-sec-color);
}


/* table section */
.nutrition-two-table{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
}

.nutrition-table {
  border-collapse: collapse;
  min-width: 578px;
  width: 100%;
}

.nutrition-table thead tr {
  color: #ffffff;
  text-align: center;
  font-weight: var(--bold);
  color: var(--black);
  font-size: var(--Medium-400-fs);
  line-height: var(--Medium-400-lh);
  letter-spacing: var(--Medium-400-ls);
  font-family: 'Source Sans Pro', sans-serif;
}

.nutrition-table th,
.nutrition-table td {
  padding: 16px 26px 16px 26px;
  border: 1px solid #dddddd;
}

.nutrition-table tbody tr {
  text-align: center;
  border-bottom: 1px solid #dddddd;
  font-size: var(--lg-icon-text-fs);
  line-height: var(--lg-icon-text-lh);
  letter-spacing: var(--lg-icon-text-ls);
  font-weight: var(--regular);
  color: var(--Grey600);
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
}

/* table */

/* storage instruction section
=============================== */
.storage-section{
  background-color: var(--NeroWhite);
}

.storage-heading{
  text-align: center;
  padding-bottom: 48px;
}

.storage-three-sec{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.storage-instruction-sec{
  width: 30%;
}

.storage-instruction-sec p:first-child{
  padding-bottom: 16px;
}


/* Feeding Instructions section
=================================== */
.feeding-instruction-section{
  background-color: var(--cont-bg-sec-color);
}

.feeding-instruction-heading{
  text-align: center;
  padding-bottom: 48px;
}

.feeding-instruction-inner-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feeding-instruction-det-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.feeding-instruction-details{
  width: 60%;
  row-gap: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feeding-chart{
  text-decoration: underline;
  color: var(--Grey600);
}

/* Subscribe to our Email section start 
========================================*/
.subscribe-email-sec {
  padding: 0;
  box-sizing: border-box;
}

.subs-email-inner-sec {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-image: url(./images/subscribe-email.png);
  background-position: center;
  background-repeat: no-repeat;
  row-gap: 45px;
  padding-top: 80px;
  padding-bottom: 325px;
}

.subscribe-email-details{
margin-bottom: 16px;
}

.subscribe-email-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.subs-email-inp .email-input {
  color: var(--Grey400);
  padding: 15px 20px;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--Light_Rose_Fog);
  outline: none;
  width: 388px;
  box-sizing: border-box;
}

.subs-email-inp .email-input:focus {
  border: 1px solid var(--Light_Rose_Fog);
}

.subs-email-btn .subscribe-button {
  border: none;
  outline: none;
  padding: 15px 51px;
  margin-left: -4px;
}

/* Subscribe to our Email section */
@media(max-width:576px) {
  .subscribe-email-sec {
    padding: 0 24px;
    text-align: center;
  }

  .subs-email-inner-sec {
    row-gap: 24px;
    height: auto;
    padding-top: 32px;
    padding-bottom: 130px;
    background-size: contain;
    background-position: bottom;
  }

  .subs-email-inp .email-input {
    padding: 13.5px 10px;
    width: 220px;
  }

  .subs-email-btn .subscribe-button {
    padding: 13px 13px;
    margin-left: -9px;
  }

  .subs-email-btn .subscribe-button button {
    font-size: var(--lg-icon-text-fs);
  }
}

/* Subscribe to our Email section end 
======================================*/ 

/* accordion section start */
/* Pet Meal FAQ */
.pet-meal-faq-sec {
  background-color: var(--cont-bg-sec-color);
}

.pet-meal-faq-inner-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 24px;
}

.pet-meal-faq-det {
  margin-bottom: 24px;
}

/* ------- */
.pet-meal-faq-accordion {
  width: 83%;
}

.inner-accordion-section {
  width: 100%;
  background-color: #FDF8F7;
}

.acc-box {
  margin-bottom: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s linear;
  position: relative;
  background-color: var(--NeroWhite);
}

.accordion {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headin-op-cl-icon {
  position: relative;
}

.headin-op-cl-icon p {
  position: relative;
  padding: 17px;
}

.iconOpen {
  position: absolute;
  top: 15px;
  right: 15px;
}

.iconClose {
  position: absolute;
  top: 15px;
  right: 15px;
}

.hidden-box {
  display: none;
  padding: 0px 40px 16px 16px;
}

.hidden-box p {
  color: var(--heading-color);
}

.active .hidden-box {
  display: block;
}

@media(max-width:576px) {

  /* accordion section start*/
  .pet-meal-faq-accordion {
    width: 100%;
  }

  .headin-op-cl-icon p {
    padding: 17px 48px 17px 17px;
  }

}