/* Footer section 
  ===================*/
  .footer-section {
    background-color: var(--Grey100);
    padding-bottom: 0;
  }
  
  .footer-inner-sec {
    padding: 0 40px;
  }
  
  .footer-det-three-sec {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0 56px 40px;
    border-bottom: 1px solid rgba(0, 0, 0, .26);
  }
  
  .footer-links-two-section {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-icon-text-two-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
  }
  
  .footer-icon-text-first-sec {
    text-align: center;
  }
  
  .footer-logo-det-sec {
    text-align: center;
    gap: 100px;
  }
  
  .f-logo-sm-lg {
    margin-bottom: 67px;
  }
  
  .footer-useful-links-sec {
    padding-top: 14px;
  }
  
  .f-main-link {
    margin-bottom: 60px;
  }
  
  .f-link-item {
    display: flex;
    flex-direction: column;
  }
  
  .f-main-link-item {
    padding-bottom: 16px;
  }
  
  .policy-etc-link ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .policy-etc-link ul li {
    border-right: 1px solid var(--Grey800);
    padding: 0 10px;
    white-space: nowrap;
  }
  
  .policy-etc-link ul li:last-child {
    border-right: none;
  }
  
  /* mobile view paragraph */
  .footer-mobile-text-para{
    display: none;
  }
  
  .mobile-newsletter-btn {
    display: none;
  }
  /* copy right sec */
  .footer-copy-right-sec {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 128px 5px 35px;
  }
  
  .footer-facebook-insta-logo {
    width: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-ins-logo {
    text-decoration: none;
  }
  
  /* footer login and signup button view mobile screen */
  .loging-and-signup-button {
    display: none;
    /* padding: 20px; */
  }
  
  .footer-loging-singup-inner-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 20px;
  }
  
  .footer-signup-btn a,
  .footer-loging-btn a {
    padding: 13px 42px;
    white-space: nowrap;
  }

  /* Footer image section */
  .footer-image-section{
    background-color: var(--Grey100);
    width: 100%;
    overflow: hidden;
  }

  .footer-image{
    width: 100%;
    height: 100%;
  }

  .footer-image img{
    width: 100%;
    height: 100%;
  }

  @media(max-width: 576px){
    .footer-image-section{
      height: 139.5px;
    }
  }

  @media(max-width: 450px){
    .footer-image-section{
      height: 84.46px;
    }
  }



  /* footer media query */
  /* Footer section */
@media(max-width:1150px){
  .footer-inner-sec{
    padding: 0px;
  }
  .footer-copy-right-sec{
    padding: 40px 20px 5px 0px;
  }
}

@media(max-width:1150px){
  .footer-det-three-sec{
    padding: 0 0 40px  0;
  }
}

@media (max-width: 576px) {
    .footer-inner-sec {
      justify-content: center;
      align-items: center;
      padding: 0;
      width: 312px;
    }
  
    .footer-det-three-sec {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 0 0px 18px;
    }
  
    .f-logo-sm-lg .f-logo-lg {
      font-size: var(--lg-icon-text-fs);
      line-height: var(--lg-icon-text-lh);
      letter-spacing: var(--lg-icon-text-ls);
      font-weight: var(--bold);
    }
  
    .footer-useful-links-sec {
      padding-top: 0;
    }
  
    .footer-logo-det-sec {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0px;
    }
  
    .login-signup-mobile-link {
      display: none;
    }
  
    .mobile-newsletter-btn {
      display: block;
    }
  
    .f-logo-sm-lg .f-logo-sm {
      font-size: var(--xlarge-reg-fs);
      font-weight: var(--regular);
    }
  
    .footer-links-two-section {
      width: 263px;
      display: flex;
      justify-content: space-between;
      text-align: center;
    }
  
    .f-main-link {
      margin-bottom: 14px;
    }
  
    .footer-copy-right-sec {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      padding: 24px 0 0;
    }
  
    .f-copy-right-text {
      order: 1;
      padding-top: 16px;
      padding-bottom: 4px;
    }
  
    .policy-etc-link {
      order: 1;
    }
  
    .f-logo-sm-lg {
      margin-bottom: 24px;
    }
  
    .f-main-link-item {
      padding-bottom: 4px;
      font-size: var(--xlarge-reg-fs);
      line-height: var(--xlarge-reg-lh);
    }
  
    .copy-right-txt {
      font-size: var(--xlarge-reg-fs);
      line-height: var(--xlarge-reg-lh);
    }
  
    .footer-links-top-h {
      font-size: var(--lg-icon-text-fs);
      letter-spacing: var(--lg-icon-text-ls);
      line-height: var(--lg-icon-text-lh);
    }
  
    .footer-icon-text-two-sec {
      margin-bottom: 24px;
      width: 286px;
    }
  
    .footer-mobile-text-para {
      font-size: var(--xlarge-reg-fs);
      line-height: var(--xlarge-reg-lh);
      display: block;
      padding: 24px 0 10px 0;
    }
  
    /* login and signup button */
    .loging-and-signup-button {
      display: block;
      padding: 10px 0 16px 0;
    }
  
  }